<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>faq1</title>
</head>
<!-- ===================================================================================================== -->

<link href="/css/faq/faqs.css" rel="stylesheet" />
<link rel="stylesheet" href="/css/fix/menu.css"/>
<link rel="icon" href="/imgs/fix/favicon.png">

<link rel="stylesheet" href="/css/fix/header.css">
<link rel="stylesheet" href="/css/fix/footer.css">

<!-- ================================================================================================================ -->
<body>

<header th:replace="/fix/header.html :: header"></header>

<!-- ================================================================================================================ -->

<main role="main" style="padding-top:100px">
    <div class="container-divider" style="border-top : none;"></div>
    <div class="container">

        <div class="article-container" id="article-container">
            <section class="article-sidebar">

                <section class="section-articles collapsible-sidebar">
                    <h3 class="collapsible-sidebar-title sidenav-title" style="padding-left:10px;">이 섹션의 문서</h3>
                    <ul>

                        <li>
                            <a href="/faq/faq1"
                               class="sidenav-item current-article">
                                <p class="sidenav-item-text">Milestone 어떻게 이용하나요?</p>
                            </a>
                        </li>

                        <li>
                            <a href="/faq/faq2"
                               class="sidenav-item ">
                                <p class="sidenav-item-text">Milestone 닉네임은 어떻게 변경하나요?</p>
                            </a>
                        </li>

                        <li>
                            <a href="/faq/faq3"
                               class="sidenav-item ">
                                <p class="sidenav-item-text">Milestone 회원가입은 어떻게 진행하나요?</p>
                            </a>
                        </li>

                        <li>
                            <a href="/faq/faq4"
                               class="sidenav-item ">
                                <p class="sidenav-item-text">Milestone 휴대폰 재인증은 어떻게 하나요?</p>
                            </a>
                        </li>

                        <li>
                            <a href="/faq/faq5"
                               class="sidenav-item ">
                                <p class="sidenav-item-text">Milestone 개인정보는 안전하게 보호되나요?</p>
                            </a>
                        </li>

                        <li>
                            <a href="/faq/faq6"
                               class="sidenav-item ">
                                <p class="sidenav-item-text">Milestone 회원 탈퇴시 모두 삭제되나요?</p>
                            </a>
                        </li>

                    </ul>

                </section>

            </section>

            <article class="article">
                <header class="article-header">
                    <h1 title="[서비스 소개] 크몽 마켓은 어떻게 이용하나요?" class="article-title">
                        Milestone 어떻게 이용하나요?
                    </h1>

                </header>

                <section class="article-info">
                    <div class="article-content">
                        <div class="article-body">
                            <p>Milestone은 아름다운 보육원에 후원을 도와드리는 사이트입니다.&nbsp;<br>Milestone의 이용방법은 아래 안내를 참고해
                                주세요.</p>
                            <p>&nbsp;</p>
                            <p><strong>✱ 목차&nbsp;<br></strong>01. 원하는 서비스를 찾는 방법<br>02. 적합한 서비스를 선택하는 방법<br>03.
                                전문가에게 문의하는 방법<br>04. 성공적으로 거래 완료하는 방법</p>
                            <p>&nbsp;</p>
                            <p><span class="wysiwyg-font-size-large"><span
                                    class="wysiwyg-color-orange80">■</span>&nbsp;<strong><span
                                    class="wysiwyg-color-black">01. 원하는 서비스를 찾는 방법</span></strong></span>
                            </p>
                            <p>1) 구매하고자 하는 서비스과 관련된 '키워드'를 검색하여 적합한 서비스를 찾아보실 수 있습니다.<br>2) 마켓 메인 페이지에서 원하는 '카테고리'를
                                선택하시면 관련된 서비스 목록만 확인하실 수 있습니다.<br>3) '필터 기능'을 이용하시면 보다 구체적인 조건으로 분류된 서비스를 찾아보실 수
                                있습니다.</p>
                            <p>&nbsp;</p>
                            <p><span class="wysiwyg-font-size-large"><span
                                    class="wysiwyg-color-orange80">■</span>&nbsp;<strong><span
                                    class="wysiwyg-color-black">02. 적합한 서비스를 선택하는 방법</span></strong></span>
                            </p>
                            <p>1) 서비스 카드의 정보를 참고하여 적합한 조건의 서비스를 선택하실 수 있습니다.<br>- 전문가 닉네임<br>-&nbsp;<strong><span
                                    class="wysiwyg-color-black"><em>Prime</em>&nbsp;</span></strong>서비스 여부<span
                                    class="wysiwyg-font-size-medium wysiwyg-color-black60">(*크몽에서 엄선한 상위 2%
                                        서비스)</span><br>- 세금계산서 발행 가능 여부<br>- 서비스 금액<br>- 서비스 평가 개수와 평균 평가 점수</p>
                            <p>&nbsp;</p>
                            <p>2) 서비스 상세페이지의 정보를 참고하여 적합한 조건의 서비스를 선택하실 수 있습니다.<br>- 전문가가 명시한 서비스의 작업 방식 및
                                조건&nbsp;<br>- 전문가의 프로필(소개)<br>- 서비스를 구매한 의뢰인의 실제 평가 내용<br>- 전문가의 예시 작업물<span
                                        class="wysiwyg-font-size-medium wysiwyg-color-black60">(*디자인 등 일부 카테고리에서만
                                        제공됩니다)<br><br></span></p>
                            <p><span class="wysiwyg-color-black50">적합한 전문가를 찾기에 시간이 없다면?</span><br><span
                                    class="wysiwyg-color-black50">필요한 프로젝트와 관련한 의뢰 글을 작성·등록하고, 전문가가 직접 보내는 제안을 받아보세요.
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p><span class="wysiwyg-font-size-large"><span
                                    class="wysiwyg-color-orange80">■</span></span><span
                                    class="wysiwyg-font-size-large">&nbsp;<strong><span
                                    class="wysiwyg-color-black">03. 전문가에게 문의하는 방법</span></strong></span></p>
                            <p>서비스를 구매하기 전, 두 가지 방법으로 전문가에게 문의하실 수 있으며 '서비스 상세페이지'에 접속하시면 해당 기능을 이용하실 수 있습니다.&nbsp;
                            </p>
                            <p>1) Milestone 메시지: 전문가에게 채팅 형식으로 문의할 수 있는 기능입니다.</p>
                            <p>2) 안심번호: 전문가에게 전화로 문의할 수 있는 기능입니다.<br><span class="wysiwyg-color-black"><span
                                    class="wysiwyg-font-size-medium">※ 전문가가 '연락 가능한 시간이 아닌'경우, '결제 전 연락처 미노출'로
                                            설정된 서비스의 경우에는 안심번호 확인이 불가합니다.</span></span></p>
                            <p>&nbsp;</p>
                            <p><span class="wysiwyg-color-black60">Tip! </span><span
                                    class="wysiwyg-color-black50">안심번호 통화로 거래에 대해 합의하셨다면?</span><br><span
                                    class="wysiwyg-color-black50">Milestone 메시지로 남겨진 대화 내용은 거래 계약에 준하는 효력을 가지고 있으며, 향후 분쟁
                                        발생 시 증빙 자료로 활용하실 수 있습니다. 안전한 거래를 위해 통화 내용을 메시지로 한 번 더 남겨주세요.</span></p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p><span class="wysiwyg-color-black50" ><span class="wysiwyg-font-size-large"><span
                                    class="wysiwyg-color-orange80">■</span>&nbsp;<strong><span
                                    class="wysiwyg-color-black">04. 성공적으로 거래 완료하는
                                                    방법</span></strong></span></span></p>
                            <p>크몽을 통한 거래는 안전하고 편리합니다.<br>거래가 시작되는 시점부터 완료되는 시점까지 [마이크몽&gt; 구매관리]에서 진행 상황을 확인하실 수
                                있으며, 전문가의 최종 작업물을 받은 이후 '구매확정' 하시면 Milestone에 보관되어 있던 거래 대금이 전문가에게 전달됩니다.<br><br></p>
                            <p><strong>꼭! 알아야 할 거래 진행 단계</strong></p>
                            <p><strong>- 요청사항 미작성:&nbsp;</strong>전문가가 작업을 시작하기 위해 의뢰인으로부터 전달받아야 할 필수 정보·자료 등을 요청한
                                단계입니다. 요청 사항을 작성하지 않으시면 작업이 진행되지 않으니, 거래 화면으로 접속하여 빠르게 전달해 주세요.</p>
                            <p>&nbsp;</p>
                            <p><strong>- 진행중:</strong>&nbsp;전문가가 작업을 진행하는 단계입니다. 원활한 작업 진행을 위해 크몽메시지와 안심번호를 통해서 전문가와
                                자주 소통해 주세요.</p>
                            <p>&nbsp;</p>
                            <p><strong>- 발송중:</strong>&nbsp;전문가가 작업물을 발송한 단계입니다. 처음 합의된 작업 조건이 이행되지 않았거나, 작업물이 마음에
                                들지 않을 경우 '수정 요청' 하실 수 있으며, 작업이 완료되었다면 '구매확정' 및 '서비스에 대한 평가를 작성'하실 수 있습니다.<br><span
                                        class="wysiwyg-color-black"><span class="wysiwyg-font-size-medium">※ 작업물이 발송된 후
                                            7일 동안 '수정 요청' '구매확정' 등의 의사표시가 없는 경우, 자동구매확정됩니다.</span></span></p>
                            <p>&nbsp;</p>
                            <p><span class="wysiwyg-color-black60">Tip! 만족스러운 작업물을 받고 싶으시다면?</span><br><span
                                    class="wysiwyg-color-black50">전문가에게 거래와 관련한 요청사항을 정확하고 구체적으로 전달해 주세요. 자료 전달과
                                        피드백은 빠를수록 좋으며, 대화 매너를 지키는 것도 중요합니다.&nbsp;<br></span><span
                                    class="wysiwyg-font-size-medium">
                        </div>

                        <div class="article-attachments" style="padding-bottom:100px">
                            <ul class="attachments">

                            </ul>
                        </div>
                    </div>
                </section>
            </article>
        </div>
    </div>

</main>

<!-- =========================================================================================================== -->
<footer th:replace="/fix/footer.html :: footer"></footer>

<!-- ================================================================================================================ -->
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/fix/header.js"></script>
</html>