<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>faq3</title>
</head>
<!-- ===================================================================================================== -->

<link href="/css/faq/faqs.css" rel="stylesheet" />
<link rel="stylesheet" href="/css/fix/menu.css"/>
<link rel="icon" href="/imgs/fix/favicon.png">

<link rel="stylesheet" href="/css/fix/header.css">
<link rel="stylesheet" href="/css/fix/footer.css">

<!-- ================================================================================================================ -->
<body>

<header th:replace="/fix/header.html :: header"></header>

<!-- ================================================================================================================ -->


<main role="main" style="padding-top:100px">
    <div class="container-divider" style="border-top : none;"></div>
    <div class="container">

        <div class="article-container" id="article-container">
            <section class="article-sidebar">

                <section class="section-articles collapsible-sidebar">
                    <h3 class="collapsible-sidebar-title sidenav-title" style="padding-left:10px;">이 섹션의 문서</h3>
                    <ul>

                        <li>
                            <a href="/faq/faq1" class="sidenav-item ">
                                <p class="sidenav-item-text">Milestone 어떻게 이용하나요?</p>
                            </a>
                        </li>

                        <li>
                            <a href="/faq/faq2" class="sidenav-item ">
                                <p class="sidenav-item-text">Milestone 닉네임은 어떻게 변경하나요?</p>
                            </a>
                        </li>

                        <li>
                            <a href="/faq/faq3" class="sidenav-item current-article">
                                <p class="sidenav-item-text">Milestone 회원가입은 어떻게 진행하나요?</p>
                            </a>
                        </li>

                        <li>
                            <a href="/faq/faq4" class="sidenav-item ">
                                <p class="sidenav-item-text">Milestone 휴대폰 재인증은 어떻게 하나요?</p>
                            </a>
                        </li>

                        <li>
                            <a href="/faq/faq5" class="sidenav-item ">
                                <p class="sidenav-item-text">Milestone 개인정보는 안전하게 보호되나요?</p>
                            </a>
                        </li>

                        <li>
                            <a href="/faq/faq6" class="sidenav-item ">
                                <p class="sidenav-item-text">Milestone 회원 탈퇴시 모두 삭제되나요?</p>
                            </a>
                        </li>

                    </ul>

                </section>

            </section>

            <article class="article">
                <header class="article-header">
                    <h1 title="[가입/인증] 회원가입은 어떻게 진행하나요?" class="article-title">
                        Milestone 회원가입은 어떻게 진행하나요?
                    </h1>

                </header>

                <section class="article-info">
                    <div class="article-content">
                        <div class="article-body">
                            <p>만 14세 이상의 개인이라면 누구나 무료로 회원가입하실 수 있습니다.</p>
                            <p>&nbsp;</p>
                            <p><strong><span class="wysiwyg-color-orange80">■</span>&nbsp;회원가입 방법</strong></p>
                            <p><span class="wysiwyg-color-black">회원가입은 아래와 같이 두 가지 방식으로 진행하실 수 있습니다.</span></p>
                            <p><span class="wysiwyg-color-black">◾️ 이메일로 가입하기</span><br><span
                                    class="wysiwyg-color-black">사용하시는 이메일 계정 주소를 통해 회원가입하는 방식으로, 계정 주소가 ID가
                                        됩니다.&nbsp;</span><br><span class="wysiwyg-color-black">이메일 아이디와 비밀번호 등 관련 정보 입력
                                        후, 동의를 마치면 가입이 완료됩니다.</span></p>
                            <p><span class="wysiwyg-color-black">◾️ 계정 연동으로 간편 가입하기</span><br><span
                                    class="wysiwyg-color-black">사용하시는 타 서비스의 계정을 연동하여 회원가입하는 방식으로, 로그인 시에도 해당 서비스의
                                        아이콘을 클릭하여 연동 정보를 입력하게 됩니다.</span><br><span class="wysiwyg-color-black">'<span
                                    class="wysiwyg-underline">해당 서비스</span>로 가입하기' 버튼을 통해 관련 정보 입력 후, 동의를 마치면
                                        가입이 완료됩니다.</span></p>
                            <p>&nbsp;</p>
                            <p><strong><span class="wysiwyg-color-orange80">■</span>&nbsp;유의사항</strong></p>
                            <p><span class="wysiwyg-color-black">◾️ 회원가입 이후 서비스 판/구매를 위해서는 휴대폰 인증을 필수로 진행하셔야
                                        합니다.&nbsp;<br>◾️ 회원가입 시 '서비스 이용약관' 및 '개인정보 수집·이용', '개인정보 제3자 제공'에 동의하신 회원만 서비스
                                        이용이 가능합니다.&nbsp;<br>◾️ 가입하신 이메일 및 계정 정보는 거래 관련 알림 등 중요 정보의 수신처로 이용됩니다. 반드시 가입자
                                        본인의 정보를 입력해 주시기&nbsp;</span><span class="wysiwyg-color-black">바랍니다</span>.</p>
                        </div>

                        <div class="article-attachments" style="padding-bottom:100px">
                            <ul class="attachments">

                            </ul>
                        </div>
                    </div>
                </section>
            </article>
        </div>
    </div>
</main>

<!-- =========================================================================================================== -->
<footer th:replace="/fix/footer.html :: footer"></footer>

<!-- ================================================================================================================ -->
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/fix/header.js"></script>
</html>