<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>faq6</title>
</head>
<!-- ===================================================================================================== -->

<link href="/css/faq/faqs.css" rel="stylesheet" />
<link rel="stylesheet" href="/css/fix/menu.css"/>
<link rel="icon" href="/imgs/fix/favicon.png">

<link rel="stylesheet" href="/css/fix/header.css">
<link rel="stylesheet" href="/css/fix/footer.css">

<!-- ================================================================================================================ -->
<body>

<header th:replace="/fix/header.html :: header"></header>

<!-- ================================================================================================================ -->

<main role="main" style="padding-top:100px">
    <div class="container-divider" style="border-top : none;"></div>
    <div class="container">

        <div class="article-container" id="article-container">
            <section class="article-sidebar">

                <section class="section-articles collapsible-sidebar">
                    <h3 class="collapsible-sidebar-title sidenav-title" style="padding-left:10px;">이 섹션의 문서</h3>
                    <ul>

                        <li>
                            <a href="/faq/faq1" class="sidenav-item ">
                                <p class="sidenav-item-text">Milestone 어떻게 이용하나요?</p>
                            </a>
                        </li>

                        <li>
                            <a href="/faq/faq2" class="sidenav-item ">
                                <p class="sidenav-item-text">Milestone 닉네임은 어떻게 변경하나요?</p>
                            </a>
                        </li>

                        <li>
                            <a href="/faq/faq3" class="sidenav-item ">
                                <p class="sidenav-item-text">Milestone 회원가입은 어떻게 진행하나요?</p>
                            </a>
                        </li>

                        <li>
                            <a href="/faq/faq4" class="sidenav-item ">
                                <p class="sidenav-item-text">Milestone 휴대폰 재인증은 어떻게 하나요?</p>
                            </a>
                        </li>

                        <li>
                            <a href="/faq/faq5" class="sidenav-item ">
                                <p class="sidenav-item-text">Milestone 개인정보는 안전하게 보호되나요?</p>
                            </a>
                        </li>

                        <li>
                            <a href="/faq/faq6" class="sidenav-item " style="background-color: #F2F3F7;
                                color: #333333;
                                font-weight: 400;
                                text-decoration: none;">
                                <p class="sidenav-item-text">Milestone 회원 탈퇴시 모두 삭제되나요?</p>
                            </a>
                        </li>
                    </ul>

                </section>

            </section>

            <article class="article">
                <header class="article-header">
                    <h1 title="[개인정보] 회원 탈퇴 시 개인정보는 모두 삭제되나요?" class="article-title">
                        Milestone 회원 탈퇴시 모두 삭제되나요?
                    </h1>

                </header>

                <section class="article-info">
                    <div class="article-content">
                        <div class="article-body">
                            <p>Milestone은 기본적인 서비스의 제공을 위한 최소한의 범위로, 이용자의 동의하에 개인정보를 수집합니다.</p>
                            <p>또한, 수집된 개인정보는 이용계약 해지(회원의 탈퇴 신청·회사의 직권 탈퇴 처리)시점에 <span class="wysiwyg-underline">지체없이
                                        파기</span>하며 제3자에게 위탁한 경우에는 수탁자에게도 <span class="wysiwyg-underline">즉시
                                        파기</span>하도록 고지합니다.</p>
                            <p>다만 아래와 같이 '개인정보처리방침'에 명시된 예외적 보관 사유가 있는 경우, 일정 기간 정보를 보관합니다.&nbsp;</p>
                            <p>&nbsp;</p>
                            <p><strong><span class="wysiwyg-color-orange80">■</span> 간편 로그인 이용 시 유의사항</strong></p>
                            <p>간편 로그인으로 이용하셨던 계정 탈퇴 시에도 Milestone에 보관된 정보는 모두 삭제됩니다.<br>다만, Facebook 계정에 남아있는 연동 정보는 아래의
                                방법으로 한 번 더 삭제 처리해 주셔야 합니다.</p>
                            <pre
                                    class="c-mrkdwn__pre"><span class="wysiwyg-font-size-medium">Facebook 로그인 데이터 삭제 안내
                            1/ Facebook 로그인 및 프로필 페이지 접속</span><br><span class="wysiwyg-font-size-medium">2/ 프로필 및 태그 설정 클릭</span><br><span
                                    class="wysiwyg-font-size-medium">3/ 앱 및 웹사이트 메뉴 접속 </span><br><span
                                    class="wysiwyg-font-size-medium">4/ 액세스할 수 있는 앱 및 웹사이트 목록에서 Milestone '삭제'</span></pre>
                            <p>&nbsp;</p>
                        </div>

                        <div class="article-attachments" style="padding-bottom:100px">
                            <ul class="attachments">

                            </ul>
                        </div>
                    </div>
                </section>
            </article>
        </div>
    </div>
</main>
<!-- ================================================================================================================ -->
<footer th:replace="/fix/footer.html :: footer"></footer>

<!-- ================================================================================================================ -->

</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/fix/header.js"></script>
</html>