<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="/css/fix/footer.css">
</head>
<body>
<footer class="footer1">
    <hr orientation="horizontal" class="footer2">
    <div class="footer3">
        <nav class="footer-nav1">
            <div class="footer-nav2" id="mobile-footer-nav2-1">
                <p class="nav-text1" id="mobile-nav-text1">고객센터</p>
                <p class="nav-text2" id="mobile-nav-text2">10:30~18:00 (점심시간 13:00~14:00)</p>
                <p class="nav-text3" id="mobile-nav-text3">주말, 공휴일 휴무</p>
            </div>
            <div class="footer-nav2" id="mobile-footer-nav2-2">
                <p class="nav-text5" id="mobile-nav-text5-1">마일스톤</p>
                <ul class="footer4">
                    <li class="footer4">
                        <p class="nav-text6" id="mobile-nav-text6-1">
                            <a color="inherit" target="_self" th:href="@{/main/main}" class="footer-text1">마일스톤 메인</a>
                        </p>
                    </li>
                    <li class="footer4">
                        <p class="nav-text6" id="mobile-nav-text6-2">
                            <a color="inherit" target="_self" th:href="@{/school/list}" class="footer-text1">보육원 목록</a>
                        </p>
                    </li>
                    <li class="footer4">
                        <p class="nav-text6" id="mobile-nav-text6-3">
                            <a color="inherit" target="_self" th:href="@{/talent/talent}" class="footer-text1">재능기부</a>
                        </p>
                    </li>
                    <li class="footer4">
                        <p class="nav-text6" id="mobile-nav-text6-4">
                            <a color="inherit" target="_self" th:href="@{/ranking/ranking}" class="footer-text1">기부랭킹</a>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="footer-nav2" id="mobile-footer-nav2-3">
                <p class="nav-text5" id="mobile-nav-text5-2">마일스톤 정보</p>
                <ul class="footer4">
                    <li class="footer4">
                        <p class="nav-text6" id="mobile-nav-text6-5">
                            <a color="inherit" target="_self" th:href="@{/introduce/introduce}" class="footer-text1">서비스 소개</a>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="footer-nav2" id="mobile-footer-nav2-4">
                <p class="nav-text5" id="mobile-nav-text5-3">관련 사이트</p>
                <ul class="footer4">
                    <li class="footer4">
                        <p class="nav-text6" id="mobile-nav-text6-6">
                            <a color="inherit" target="_self" href="#" class="footer-text1">마일스톤 블로그</a>
                        </p>
                    </li>
                    <li class="footer4">
                        <p class="nav-text6" id="mobile-nav-text6-7">
                            <a color="inherit" target="_self" href="#" class="footer-text1">마일스톤 인스타그램</a>
                        </p>
                    </li>
                    <li class="footer4">
                        <p class="nav-text6" id="mobile-nav-text6-8">
                            <a color="inherit" target="_self" href="#" class="footer-text1">마일스톤 유튜브</a>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="footer-nav2" id="mobile-footer-nav2-5">
                <p class="nav-text5" id="mobile-nav-text5-4">지원</p>
                <ul class="footer4">
                    <li class="footer4">
                        <p class="nav-text6" id="mobile-nav-text6-9">
                            <a color="inherit" target="_self" th:href="@{/notice/notice}" class="footer-text1">공지사항</a>
                        </p>
                    </li>
                    <li class="footer4">
                        <p class="nav-text6" id="mobile-nav-text6-10">
                            <a color="inherit" target="_self" th:href = "@{/faq/faq}" class="footer-text1">자주 묻는 질문</a>
                        </p>
                    </li>
                    <li class="footer4">
                        <p class="nav-text6" id="mobile-nav-text6-11">
                            <a color="inherit" target="_self" href="#" class="footer-text1">이용약관</a>
                        </p>
                    </li>
                    <li class="footer4">
                        <p class="nav-text6" id="mobile-nav-text6-12">
                            <a color="inherit" href="#" target="_blank" class="footer-text1">
                                <b>개인정보처리방침</b>
                            </a>
                        </p>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="footer5" id="mobile-footer5">
        </div>
    </div>
    <hr orientation="horizontal" class="footer2">
    <div class="footer7">
        <p class="footer8" id="mobile-footer8">(주)마일스톤
            <span class="footer-text2"></span>
            경기도 성남시 중원구 하대원동 아튼빌아파트
            <span class="footer-text2"></span>
            대표 : 정서림
            <span class="footer-text2"></span>
            개인정보관리책임자 : 황지수
            <span class="footer-text2"></span>
            사업자등록번호 : 012-34-56789
            <span role="link" color="default" onclick="adminLogin()" target="_blank" class="footer9">
                <span class="footer-text3">관리자 모드</span>
            </span>
            <br>통신판매업신고 : 2018-서울서초-2134
            <span class="footer-text2"></span>
            유료직업소개사업등록번호 : 제2021-3210195-14-5-00035호
            <span class="footer-text2"></span>
            고객센터 : 1234-5678
            <span class="footer-text2"></span>
            help@milestone.com
        </p>
    </div>
    <div class="footer10">
        <p class="footer-text4" id="mobile-footer-text4-1">
            (주)마일스톤은 통신판매중개자이며, 통신판매의 당사자가 아닙니다. 상품, 상품정보, 거래에 관한 의무와 책임은 판매회원에게 있습니다.
        </p>
        <p class="footer-text4" id="mobile-footer-text4-2">
            (주)마일스톤 사이트의 상품/판매회원/중개 서비스/거래 정보, 콘텐츠, UI 등에 대한 무단복제, 전송, 배포, 스크래핑 등의 행위는 저작권법, 콘텐츠산업 진흥법 등 관련법령에 의하여 엄격히
            금지됩니다. [안내 보기]
        </p>
        <div class="footer11">
            <p class="footer-text4" id="mobile-footer-text4-3">
                Copyright © 2022 milestone Inc. All rights reserved.
            </p>
        </div>
    </div>
</footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script th:inline="javascript">
    let sessionId = $("#sessionId").val();
</script>
</html>