<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/fix/header.css">
    <link rel="stylesheet" href="/css/fix/footer.css">
    <link rel="stylesheet" href="/css/myPage/myPageMain.css">
    <link rel="stylesheet" href="/css/myPage/myPageAside.css">
    <link rel="stylesheet" href="/css/myPage/myPageSchoolSchedule.css">
    <link rel="stylesheet" href="/css/myPage/callender.css">
    <link rel="stylesheet" href="/css/myPage/public.css">
    <link rel="icon" href="/imgs/fix/favicon.png">
    <title>마일스톤 | 일정 관리</title>
</head>

<body>
<!-- 모달 -->
<div class="modalWrap">
    <div class="modalScope flexCol">
        <div class="modalHead flexCol flexPublic">
            <div class="exclamationMark flexPublic">
                <div>!</div>
            </div>
            <h2 class="modalContent">일정을 정말로 취소할까요?</h2>
        </div>
        <div class="modalFooter">
            <button class="modalBtn">YES</button>
            <button class="modalBtn">NO</button>
        </div>
    </div>
</div>
<header th:replace="/fix/header.html :: header"></header>
<div class="myPageWrap flex">
    <!-- 어사이드 -->
    <aside th:replace="/myPage/myPage_aside_school :: aside"></aside>
    <!-- 메인 -->
    <main class="main">
        <th:block  th:each="service1, i: ${serviceDTO1}">
        <input type="hidden" name="serviceVisitDate" th:value="${service1.serviceVisitDate}">
        </th:block>
        <div class="mainWrap flexCol">
            <div class="mainTitle flexRow">일정 관리</div>
            <div class="mainBodyWrap flexCol flexPublic">
                <!-- 메인컨텐츠 -->
                <!-- 달력 -->
                <div class="tempDiv">
                    <div class="callenderWrap">
                        <div class="callenderHead">
                            <div class="prevMonth"></div>
                            <div class="nowMonth"></div>
                            <div class="nextMonth"></div>
                        </div>
                        <table class="callenderBody">
                            <tr>
                                <th>일</th>
                                <th>월</th>
                                <th>화</th>
                                <th>수</th>
                                <th>목</th>
                                <th>금</th>
                                <th>토</th>
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- 일정 목록 -->
                <div class="list flexCol">
                    <div class="margin-top-16"></div>
                    <div class="listItems flexBetween">
                        <div class="items-names">신청자</div>
                        <div class="items-dates">방문일</div>
                        <div class="items-cancels">일정 취소</div>
                    </div>
                    <section class="listSection">
                        <!--<div class="listItems flexBetween">

                            &lt;!&ndash; 보육원 이름&ndash;&gt;
                            <div class="items-name flexCol">닉네임</div>

                            &lt;!&ndash; 방문 신청일&ndash;&gt;
                            <div class="items-date flexCol">2022년 11월 11일</div>

                            <div class="items-cancel flexCol">취소</div>
                        </div>-->
                    </section>
                    <div class="card-footer">
                        <div class="empty-div"></div>
                        <div class="paging-number-box">
                            <div class="paging-number">
                                <div class="paging-number-flex">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<footer th:replace="/fix/footer.html :: footer"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/myPage/schoolCallender.js"></script>
<script src="/js/myPage/schoolModal.js"></script>
<script src="/js/myPage/schoolSchedule.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="/js/fix/header.js"></script>
</html>