<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/fix/header.css">
    <link rel="stylesheet" href="/css/fix/footer.css">
    <link rel="stylesheet" href="/css/myPage/myPageMain.css">
    <link rel="stylesheet" href="/css/myPage/myPagePasswordSchool.css">
    <link rel="stylesheet" href="/css/myPage/myPageAside.css">
    <link rel="stylesheet" href="/css/myPage/public.css">
    <link rel="icon" href="/imgs/fix/favicon.png">
    <title>마일스톤 | 비밀번호 변경</title>
</head>

<body>
<header th:replace="/fix/header.html :: header"></header>
<div class="myPageWrap flex">
    <!-- 어사이드 -->
    <aside th:replace="/myPage/myPage_aside_school :: aside"></aside>
    <!-- 메인 -->
    <main class="main">
        <div class="mainWrap flexCol">
            <div class="mainTitle flexRow">비밀번호 변경</div>
            <div class="mainBodyWrap flex">
                <!-- 메인컨텐츠 -->
                <div class="inputWrap flexCol">
                        <form th:action="@{/mypage/schoolPasswordUpdate}" method="post" name="updatePassword" id="updatePassword">
                        <div class="margin-bottom-32">
                            <div class="margin-bottom-8 flexBetween">
                                <div class="inputTitle">현재 비밀번호</div>
                            </div>
                            <input class="inputCos" name="userPassword" id="password" type="password"
                                   placeholder="기존 비밀번호를 입력해주세요.">
                            <div class="warningMsg margin-top-4" style="display: none;">8자 이상 입력해 주세요.</div>
                        </div>
                        <div class="flex">
                            <div class="margin-bottom-20 width-100 margin-right-12">
                                <div class="margin-bottom-8 flexBetween">
                                    <div class="inputTitle">변경할 비밀번호</div>
                                </div>
                                <input class="inputCos" name="changePassword" id="changePassword" type="password"
                                       placeholder="변경할 비밀번호를 입력해주세요."
                                       value="">
                                <div class="warningMsg margin-top-4" style="display: none;">비밀번호는 영문, 숫자, 특수문자가 조합된 8자 ~
                                    16만 가능합니다.
                                </div>
                            </div>
                            <div class="margin-bottom-20 width-100">
                                <div class="margin-bottom-8 flexBetween">
                                    <div class="inputTitle">한 번 더 입력</div>
                                </div>
                                <input class="inputCos" name="checkPassword" id="checkPassword" type="password"
                                       placeholder="변경할 비밀번호를 한 번 더 입력해주세요." autocomplete="off">
                                <div class="warningMsg margin-top-4" style="display: none;">비밀번호는 영문, 숫자, 특수문자가 조합된 8자 ~
                                    16만 가능합니다.
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="flex">
                        <div style="flex-grow : 1"></div>
                        <button type="submit" class="submitBtn" id="submitButton" form="updatePassword" disabled>변경하기</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<footer th:replace="/fix/footer.html :: footer"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/myPage/schoolInfo.js"></script>
<script src="/js/myPage/passwordSchool.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="/js/fix/header.js"></script>
</html>