<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/fix/header.css">
    <link rel="stylesheet" href="/css/fix/footer.css">
    <link rel="stylesheet" href="/css/myPage/myPageMain.css">
    <link rel="stylesheet" href="/css/myPage/myPageInfo.css">
    <link rel="stylesheet" href="/css/myPage/myPageSchool.css">
    <link rel="stylesheet" href="/css/myPage/myPageAside.css">
    <link rel="stylesheet" href="/css/myPage/public.css">
    <link rel="icon" href="/imgs/fix/favicon.png">
    <title>마일스톤 | 보육원 등록</title>
</head>

<body>
<header th:replace="/fix/header.html :: header"></header>
<!--<script th:inline="javascript">-->
<!--    let test = [[${schoolDTO}]]-->
<!--    console.log(test);-->
<!--</script>-->
<div class="myPageWrap flex">
    <!-- 어사이드 -->
    <aside th:replace="/myPage/myPage_aside_school :: aside"></aside>
    <!-- 메인 -->
    <main class="main">
        <div class="mainWrap flexCol">
            <div class="mainTitle flexRow">보육원 정보</div>
            <div class="mainBodyWrap flex">
                <!--이미지 테스트-->
                <div class="imgTest"></div>
                <!--이미지 테스트-->

                <!-- 프로필 -->
                <div class="profileWrap flexColNormal">
                    <div class="profile"></div>
                    <form th:action="@{/myPageRest/profile}" method="post" name="profileForm"
                          enctype="multipart/form-data">
                        <div class="updateProfileBtnWrap flexCol">
                            <label class="updateProfileBtn flexPublic">
                                <div>프로필 변경</div>
                                <input type="file" name="profile" id="profile" style="display: none"
                                       accept="image/gif,image/jpeg,image/png">
                            </label>
                        </div>
                    </form>
                </div>
                <!-- 메인컨텐츠 -->
                <div class="inputWrap margin-left-40 flexCol">
                    <form th:action="@{/mypage/register}" method="post" name="updateForm" th:object="${schoolDTO}">
                        <div class="margin-bottom-20">
                            <div class="margin-bottom-8 flexBetween">
                                <div class="inputTitle">보육원 대표 사진</div>
                            </div>
                            <label class="updateSchoolImgBtn flexPublic">
                                <div>파일 추가</div>
                                <input type="file" class="tempImgBackground" name="schoolImg" style="display: none" id="schoolImg" multiple
                                       accept="image/gif,image/jpeg,image/png">
                            </label>
                            <div class="imgBox">
                                <div class="flexRow">
                                    <div class="imgList flexRow">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="margin-bottom-20">
                            <div class="margin-bottom-8 flexRow">
                                <div class="inputTitle">이메일</div>
                                <div class="essential">*</div>
                            </div>
                            <input class="inputCos" name="userEmail" id="userEmail" type="text" th:value="*{userEmail}"
                                   placeholder="이메일을 입력해 주세요">
                            <div class="margin-top-6" style="display: none;">
                                <div class="warningMsg">보육원 이름을 입력해 주세요.</div>
                            </div>
                        </div>
                        <div class="margin-bottom-20">
                            <div class="margin-bottom-8 flexRow">
                                <div class="inputTitle">이름</div>
                                <div class="essential">*</div>
                            </div>
                            <input class="inputCos" name="userName" id="userName" type="text" th:value="*{userName}"
                                   placeholder="이름을 입력해 주세요">
                            <div class="margin-top-6" style="display: none;">
                                <div class="warningMsg">보육원 이름을 입력해 주세요.</div>
                            </div>
                        </div>
                        <div class="margin-bottom-20">
                            <div class="margin-bottom-8 flexRow">
                                <div class="inputTitle">보육원 이름</div>
                                <div class="essential">*</div>
                            </div>
                            <input class="inputCos" name="schoolName" id="schoolName" type="text"
                                   th:value="*{schoolName}"
                                   placeholder="보육원 이름을 입력해 주세요">
                            <div class="margin-top-6" style="display: none;">
                                <div class="warningMsg">보육원 이름을 입력해 주세요.</div>
                            </div>
                        </div>
                        <div class="margin-bottom-20">
                            <div class="margin-bottom-8 flexRow">
                                <div class="inputTitle">보육원 주소</div>
                                <div class="essential">*</div>
                            </div>
                            <div class="margin-bottom-8 flexBetween">
                                <input name="schoolZipcode" id="schoolZipcode" type="hidden"
                                       th:value="*{schoolZipcode}">
                                <input class="inputCos" name="schoolAddress" id="schoolAddress" type="text"
                                       placeholder="주소 검색 버튼을 이용해 주세요"
                                       th:value="*{schoolAddress}">
                                <button type="button" class="searchAddressBtn" id="searchAddressBtn" onclick="find()">주소
                                    검색
                                </button>
                            </div>
                            <div class="margin-top-6" style="display: none;">
                                <div class="warningMsg">보육원 주소를 검색해 주세요.</div>
                            </div>
                            <div class="margin-bottom-8 flexRow">
                                <div class="inputTitle">보육원 상세 주소</div>
                                <div class="essential">*</div>
                            </div>
                            <input class="inputCos" name="schoolAddressDetail" id="schoolAddressDetail" type="text"
                                   th:value="*{schoolAddressDetail}"
                                   placeholder="상세 주소를 입력해 주세요">
                            <div class="margin-top-6" style="display: none;">
                                <div class="warningMsg">상세주소가 없다면 주소지의 특징을 입력해 주세요.</div>
                            </div>
                        </div>
                        <div class="margin-bottom-20">
                            <div class="margin-bottom-8 flexRow">
                                <div class="inputTitle">휴대전화</div>
                                <div class="essential">*</div>
                            </div>
                            <div class="margin-bottom-8 flexBetween">
                                <input class="inputCos" name="userPhoneNumber" id="userPhoneNumber" type="text"
                                       th:value="*{userPhoneNumber}"
                                       placeholder="보육원 연락처를 입력해 주세요. 미입력시 가입시 입력한 번호로 등록됩니다.">
                                <button type="button" class="certificationBtn">인증번호 받기</button>
                            </div>
                            <div class="margin-top-6" style="display: none;">
                                <div class="warningMsg">전화번호를 입력해 주세요.</div>
                            </div>
                            <input class="inputCos" type="text" name="certification" id="certification"
                                   placeholder="인증번호를 입력해주세요" disabled>
                            <div class="margin-top-6" style="display: none;">
                                <div class="warningMsg">이메일 형식이 유효하지 않습니다.</div>
                            </div>
                        </div>
                        <div class="margin-bottom-20">
                            <div class="margin-bottom-8 flexRow">
                                <div class="inputTitle">추가 연락처</div>
                            </div>
                            <input class="inputCos" name="schoolPhoneNumber" id="schoolPhoneNumber" type="text"
                                   th:value="*{schoolPhoneNumber}"
                                   placeholder="보육원 연락처를 입력해 주세요. 미입력시 가입시 입력한 번호로 등록됩니다.">
                            <div class="margin-top-6" style="display: none;">
                                <div class="warningMsg">전화번호를 입력해 주세요.</div>
                            </div>
                        </div>
                        <div class="margin-bottom-20">
                            <div class="margin-bottom-8 flexRow">
                                <div class="inputTitle">보육원 교사 수</div>
                            </div>
                            <input class="inputCos" name="schoolTeachers" id="schoolTeachers" type="text"
                                   th:value="*{schoolTeachers}"
                                   placeholder="0">
                        </div>
                        <div class="margin-bottom-20">
                            <div class="margin-bottom-8 flexRow">
                                <div class="inputTitle">보육원 아이들 수</div>
                                <div class="essential">*</div>
                            </div>
                            <input class="inputCos" name="schoolKids" id="schoolKids" type="text"
                                   th:value="*{schoolKids}"
                                   placeholder="0">
                            <div class="margin-top-6" style="display: none;">
                                <div class="warningMsg">보육원 아이들 수를 입력해 주세요.</div>
                            </div>
                        </div>
                        <div class="margin-bottom-20">
                            <div class="margin-bottom-8 flexRow">
                                <div class="inputTitle">1년 예산</div>
                            </div>
                            <input class="inputCos" name="schoolBudget" id="schoolBudget" type="text"
                                   th:value="*{schoolBudget}"
                                   placeholder="0">
                        </div>

                        <div class="margin-bottom-20">
                            <div class="margin-bottom-8 flexRow">
                                <div class="inputTitle">은행</div>
                                <div class="essential">*</div>
                            </div>
                            <div class="margin-bottom-8 relative">
                                <div class="moreSelectWrap">
                                    <div class="moreSelectItem">하나은행</div>
                                    <div class="moreSelectItem">기업은행</div>
                                    <div class="moreSelectItem">신한은행</div>
                                    <div class="moreSelectItem">국민은행</div>
                                    <div class="moreSelectItem">우리은행</div>
                                    <div class="moreSelectItem">농협은행</div>
                                </div>
                                <div class="inputCos flex" style="padding: 0;">
                                    <div class="inputSpace flexRow">
                                        <input type=text name="schoolBank" id="schoolBank" th:value="*{schoolBank}"
                                               placeholder="은행을 선택해주세요"
                                        >
                                        <input type=text id="bankFocus">
                                    </div>
                                    <div class="arrowWrap">
                                        <svg height="20" width="20" class="arrowColor">
                                            <path
                                                    d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                                            </path>
                                        </svg>
                                    </div>
                                </div>
                                <div class="margin-top-6" style="display: none;">
                                    <div class="warningMsg">은행을 선택해 주세요.</div>
                                </div>
                            </div>
                            <div class="margin-bottom-8 flexRow">
                                <div class="inputTitle">보육원 계좌 번호</div>
                                <div class="essential">*</div>
                            </div>
                            <input class="inputCos" name="schoolAccount" id="schoolAccount" type="text"
                                   th:value="*{schoolAccount}"
                                   placeholder=" - 를 제외한 숫자만 입력해 주세요">
                            <div class="margin-top-6" style="display: none;">
                                <div class="warningMsg">계좌 번호를 입력해 주세요.</div>
                            </div>
                        </div>

                        <div class="margin-bottom-20">
                            <div class="margin-bottom-8 flexRow">
                                <div class="inputTitle">소개글 제목</div>
                                <div class="essential">*</div>
                            </div>
                            <div class="margin-bottom-8">
                                <input class="inputCos" name="schoolTitle" id="schoolTitle" type="text"
                                       th:value="*{schoolTitle}"
                                       placeholder="제목을 입력해 주세요">
                                <div class="margin-top-6" style="display: none;">
                                    <div class="warningMsg">소개글 제목을 입력해 주세요.</div>
                                </div>
                            </div>
                            <div class="margin-bottom-8 flexRow">
                                <div class="inputTitle">소개글</div>
                                <div class="essential">*</div>
                            </div>
                            <div class="relative">
                                <div class="textareaCos">
                                    <textarea name="schoolContent" id="schoolContent"
                                              th:text="*{schoolContent}"></textarea>
                                </div>
                                <div class="maxContentLength"><span class="contentLength">0</span>/500</div>
                            </div>
                            <div class="margin-top-6" style="display: none;">
                                <div class="warningMsg">소개글을 작성해 주세요.</div>
                            </div>
                        </div>
                        <div class="flex">
                            <div style="flex-grow : 1"></div>
                            <button type="button" onmousedown="" class="submitBtn" disabled>등록하기</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>
<footer th:replace="/fix/footer.html :: footer"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/myPage/schoolInfo.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="/js/fix/header.js"></script>
<script th:inline="javascript">
    let fileDTO = [[${fileDTO}]];
    let arrayFile = [];
    let fileType = "schoolImg";
    let updateProfileMoment = false;

    if (fileDTO) {
        $('.profile').css("background-image", `url(/file/display?fileName=` + fileDTO.filePath + `/` + fileDTO.fileUuid + "_" + fileDTO.fileName + `)`)
    }
    showSchoolImg(showUploadResult);

    $("input[type='file']").on("change", function () {
        let formData = new FormData();
        let $inputFile = $("input[type='file']");
        let files;
        if ($(this).attr("name") == $('input[name = "schoolImg"]').attr("name")) {
            files = $inputFile[1].files;
        } else {
            files = $inputFile[0].files;
        }
        $submitBtn.attr("disabled", false)

        console.log(Array.from(files));

        Array.from(files).forEach(file => arrayFile.push(file));
        const dataTransfer = new DataTransfer();
        arrayFile.forEach(file => dataTransfer.items.add(file));
        $(this)[0].files = dataTransfer.files;

        console.log($(this)[0].files);

        $(files).each(function (i, file) {
            formData.append("upload", file);
        });

        if (updateProfileMoment) {
            arrayFile.splice(0, 1);
            const dataTransfer = new DataTransfer();
            arrayFile.forEach(file => dataTransfer.items.add(file));
            $("input[type='file']")[1].files = dataTransfer.files;
            updateProfileMoment = !updateProfileMoment;
        }

        fileType = $(this).attr("name");
        console.log(fileType)
        if (fileType == "profile") {
            $.ajax({
                url: "/file/upload",
                type: "post",
                data: formData,
                contentType: false,
                processData: false,
                success: showUploadProfile
            });
        } else {
            $.ajax({
                url: "/file/upload",
                type: "post",
                data: formData,
                contentType: false,
                processData: false,
                success: showUploadResult
            });
        }

    });

    function showUploadProfile(files) {
        let text = "";
        let fileImgCheck;
        console.log(fileType)
        let file1;
        $(files).each(function (i, file) {
            file1 = file;
        });
        $('.profile').css("background-image", `url(/file/display?fileName=` + file1.filePath + `/` + file1.fileUuid + "_" + file1.fileName + `)`)
        saveProfile({
            fileName: file1.fileName,
            filePath: file1.filePath,
            fileUuid: file1.fileUuid,
            fileSize: file1.fileSize,
            fileImageCheck: file1.fileImageCheck,
            fileType: fileType
        })
    }

    let schoolImgCount = 0;

    function showUploadResult(files) {
        console.log(fileType)
        let text = "";

        $(files).each(function (i, file) {
            text += `<div class = "imgsWrap">`
            text += `<input type="hidden" class = "fileName" name="files[` + (i + schoolImgCount) + `].fileName" value="` + file.fileName + `">`;
            text += `<input type="hidden" class = "filePath" name="files[` + (i + schoolImgCount) + `].filePath" value="` + file.filePath + `">`;
            text += `<input type="hidden" class = "fileUuid" name="files[` + (i + schoolImgCount) + `].fileUuid" value="` + file.fileUuid + `">`;
            text += `<input type="hidden" class = "fileSize" name="files[` + (i + schoolImgCount) + `].fileSize" value="` + file.fileSize + `">`;
            text += `<input type="hidden" class = "fileImageCheck" name="files[` + (i + schoolImgCount) + `].fileImageCheck" value="` + file.fileImageCheck + `">`;
            text += `<input type="hidden" class = "fileType" name="files[` + (i + schoolImgCount) + `].fileType" value="` + fileType + `">`;
            if (!file.fileImageCheck) {
                text += `<img src="/images/attach.png" width="100">`;
            } else {
                text += `<img width="136" height="100" src="/file/display?fileName=` + file.filePath + `/` + file.fileUuid + "_" + file.fileName + `">`;
            }
            text += `<div class = "cancelX">`
            text += `<span>x</span>`
            text += `</div>`
            text += `</div>`
        });
        $(".imgList").append(text);
        schoolImgCount = schoolImgCount = $('.imgsWrap').length;
        $('.imgBox').show();
    }

    function saveProfile(fileDTO) {
        updateProfileMoment = true;
        console.log("드러옴")
        console.log(fileDTO)
        $.ajax({
            url: "/myPageRest/profile",
            type: "post",
            data: JSON.stringify(fileDTO),
            contentType: "application/json; charset=utf-8",
            success: function () {
            },
            error: function (xhr, status, err) {
                if (error) {
                    error(err);
                }
            }
        })
    }


    let uploadPaths = [];
    let fileNames = [];

    $('.imgList').on('click', '.cancelX', function () {
        $submitBtn.attr("disabled", false)
        console.log($(this).closest(".imgsWrap"))
        const $imgsWrap = $(this).closest(".imgsWrap");
        let i = $(".cancelX").index($(this));
        let uploadPath = $imgsWrap.find(".filePath").val();
        let fileName = $imgsWrap.find(".fileUuid").val() + "_" + $imgsWrap.find(".fileName").val();
        uploadPaths.push(uploadPath);
        fileNames.push(fileName);
        $imgsWrap.remove();
        // console.log($imgsWrap.find(".filePath").val())
        // console.log($imgsWrap.find(".fileUuid").val())
        // console.log($imgsWrap.find(".fileName").val())
        // console.log($(this).prev());
        // console.log($(this).prev().attr("src"));
        // $.ajax({
        //     url: "/file/delete",
        //     type: "post",
        //     data: {uploadPath: uploadPaths, fileName: fileNames},
        //     success: function () {
        //         $imgsWrap.remove();
        //         arrayFile.splice(i, 1);
        //         const dataTransfer = new DataTransfer();
        //         arrayFile.forEach(file => dataTransfer.items.add(file));
        //         $("input[type='file']")[1].files = dataTransfer.files;
        //     }
        // });
    })


</script>
</html>