<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- 어사이드 -->
<aside class="flexColNormal" style="width: 300px;">
    <div class="asideTitle">
        마이페이지
    </div>
    <div class="asideLine"></div>
    <a th:href="@{/mypage/myinfo}" class="asideItemWrap flexRow">나의 정보</a>
    <a th:href="@{/mypage/peopleSchedule}" class="asideItemWrap flexRow">일정 관리</a>
    <a th:href="@{/mypage/peopleAlarm}" class="asideItemWrap flexRow">알림함</a>
    <a th:href="@{/mypage/talent}" class="asideItemWrap flexRow">나의 재능기부</a>
    <a th:href="@{/mypage/likelist}" class="asideItemWrap flexRow">찜한 보육원</a>
    <a th:href="@{/mypage/peoplePassword}" class="asideItemWrap flexRow">비밀번호 변경</a>
    <a th:href="@{/mypage/withdrawalPeople}" class="asideItemWrap flexRow">회원 탈퇴</a>
</aside>
</body>
<script src="/js/fix/header.js"></script>
<script src="/js/myPage/aside.js"></script>
</html>