<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/fix/header.css">
    <link rel="stylesheet" href="/css/fix/footer.css">
    <!--============================================-->
    <link rel="stylesheet" href="/css/myPage/myPageMain.css">
    <link rel="stylesheet" href="/css/myPage/myPageAside.css">
    <link rel="stylesheet" href="/css/myPage/myPageInfo.css">
    <link rel="stylesheet" href="/css/myPage/public.css">
    <link rel="icon" href="/imgs/fix/favicon.png">
    <!--=======================================-->
    <link rel="stylesheet" href="/css/myPage/mypagetalent.css">

    <title>마이페이지 나의 재능기부</title>
    <style>

        /* =============================페이징 처리====================================== */

        .flexPublic {

        }

        .pageBtns {
            margin-top: 48px;
            font-size: 12px;
        }

        .pageBtns a {
            border-radius: 4px;
            align-items: center;
            height: 36px;
            min-width: 36px;
            color: rgb(154, 155, 167);
            transition: background-color 0.3s;
        }

        .pageBtns a:hover {
            background-color: rgb(242, 243, 247);
        }

        .prevNextBtn {
            height: 24px;
            width: 24px;
            fill: rgb(154, 155, 167);
        }

        .page {
            height: 36px;
            min-width: 36px;
        }

        /*===============================================================================*/
    </style>
</head>

<body>

<header th:replace="/fix/header.html :: header"></header>
<div class="myPageWrap flex">
    <!-- 어사이드 -->
    <aside th:replace="/myPage/myPage_aside :: aside"></aside>
    <!-- 메인 -->
    <main class="main">
        <div>
            <div class="mainWrap flexCol">
                <div class="mainTitle flexRow">나의 재능 기부</div>
                <div class="mainBodyWrap flexCol flexPublic">

                    <!--================================================================================-->
                    <!-- 메인컨텐츠 -->

                    <div class="AllTalentBox" style="width: 100%;">
                        <div class="talentBoxAll" id="all">
                        </div>
                    </div>


                    <!--===============================================페이징 처리==============================================================-->
                    <!-- 페이지 버튼 전체 -->
                    <div class="paging-number-box">
                        <div class="paging-number">
                            <div class="paging-number-flex">
                            </div>
                        </div>
                    </div>

                </div>
                <!--=============================================================================================================================-->

            </div>
        </div>
    </main>
</div>


<!--==========================================여기서부터 모달============================================================-->

<div class="modalWrap">
</div>

<!--=============================================================================================================-->

<footer th:replace="/fix/footer.html :: footer"></footer>

</body>

<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="/js/fix/header.js"></script>
<!--<script src="/js/myPage/mypagetalent.js"></script>-->

<script th:inline="javascript">

    /*=============================================================================================================*/

    globalThis.page = 0;
    globalThis.donationId = 0;

    let $pagingBtnFlex = $('.paging-number-flex');
    let pageInfo;

    show();

    function show() {
        getTalentList({
            page: globalThis.page
        }, getList)
    }

    /*=============================================================================================================*/

    function getTalentList(param, callback, error) {
        let queryString = "/" + param.page || 1;
        $.ajax({
            url: "/myPageRest/list" + queryString,
            type: "get",
            success: function (noticeResp, status, xhr) {
                if (callback) {
                    callback(noticeResp)
                }
            },
            error: function (xhr, status, err) {
                if (error) {
                    error(err);
                }
            }
        });
    }

    /*=============================================================================================================*/
    //마이페이지 나의 재능기부 목록

    function getList(talentResp) {

        let text = "";
        pageInfo = talentResp.arTalentDTO;
        talentResp.arTalentDTO.content.forEach(talent => {

            text += `<div style="padding-bottom:20px">`
            text += `<article class="talentBox" style="width: 65%;">`
            text += `<div class="talentBox2">`
            text += `<div class="talentBox3" style="width: 170px;">`

            /*=========================================================================================================*/

            if(talent.fileName == null){
                text += `<img id="profilepicture" src="/imgs/myPage/normalProfile.png" class="talentImg">`
            }else {
                text += `<img class="talentImg" src="/file/display?fileName=`+ talent.filePath + `/` + talent.fileUuid + `_` + talent.fileName +`">`
            }
            /*=========================================================================================================*/

            text += `</div>`
            text += `<div class="talentBox4">`

            text += `<div class="donationId" style="display: none">` + talent.donationId + `</div>`

            text += `<p class="talentTitle">` + talent.talentTitle + `</p>`
            text += `<p class="talentContent" style="overflow: hidden; height: 43px">` + talent.talentContent + `</p>`
            text += `<div class="talentboxs">`
            text += `<div class="talentType" style="width: 150px;">`
            text += `<img src="/imgs/talent/care2.png" style="width: 25px; height:    25px; margin-bottom: -6px; margin-left: -10px;">` + talent.talentCategory
            text += `</div>`
            text += `<div class="talentPlace" style="width: 150px;">`
            text += `<img src="/imgs/talent/pin.png" style="width: 25px; height: 25px; margin-bottom: -6px; margin-left: -10px;">` + talent.talentPlace
            text += `</div>`

            let date = new Date(talent.talentAbleDate);
            let year = date.getFullYear().toString().substr(2);
            let month = date.getMonth() + 1;
            let day = date.getDate();

            text += `<div class="talentTime" style="width: 200px;">`
            text += `<img src="/imgs/talent/mylove.png" style="width: 25px; height: 25px; margin-bottom: -7px; margin-left: -15px;">` + year + '년 ' + ("00" + month.toString()).slice(-2) + "월 " + ("00" + day.toString()).slice(-2) + "일"
            text += `</div>`
            text += `</div>`
            text += `</div>`
            text += `</div>`
            text += `</article>`
            text += `</div>`

        })
        $(".talentBoxAll").html(text)
        pageingBtn();
    }

    /*=============================================================================================================*/
    //마이페이지 목록 수정 상세페이지 모달

    let $modalWrap = $('.modalWrap');
    let body = $('body');
    let modalWrap = document.querySelector('.modalWrap');
    let $contentLength;

    /*===========*/
    let myCategory;
    let myPlace;
    let myTime;
    let myTitle;
    let myContent;
    /*===========*/

    $(".AllTalentBox").on("click", ".talentBox", function () {
        $modalWrap.show();
        body.css('overflow', 'hidden');
        let donationId = $(this).find("div.donationId").html();

        $.ajax({
            url: "/talentrest/showmodal/" + donationId,
            type: "get",
            success: function (lists) {

                console.log("상세모달 : " + JSON.stringify(lists));

                var talent = lists[0];
                let thisTime = talent.talentAbleDate.substring(0, 10)

                let text = ""

                text += `<div class="modalScope flexCol">`
                text += `<div class="modalHead flexCol flexPublic">`
                text += `<div style="display: flex; justify-content: flex-end; width: 100%; padding-bottom: 20px;">`

                text += `<span class="css-1oteowz eklkj751">`
                text += `<span role="img" color="#e4e5ed" rotate="0" class="css-nh621w e181xm9y1">`
                text += `<svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" focusable="false" style="cursor: pointer" preserveAspectRatio="xMidYMid meet">`
                text += `<path xmlns="http://www.w3.org/2000/svg" d="M6.34314575,4.92893219 L12.000039,10.585039 L17.6568542,4.92893219 C18.0473785,4.5384079 18.6805435,4.5384079 19.0710678,4.92893219 C19.4615921,5.31945648 19.4615921,5.95262146 19.0710678,6.34314575 L13.415039,12.000039 L19.0710678,17.6568542 C19.4615921,18.0473785 19.4615921,18.6805435 19.0710678,19.0710678 C18.6805435,19.4615921 18.0473785,19.4615921 17.6568542,19.0710678 L12.000039,13.415039 L6.34314575,19.0710678 C5.95262146,19.4615921 5.31945648,19.4615921 4.92893219,19.0710678 C4.5384079,18.6805435 4.5384079,18.0473785 4.92893219,17.6568542 L10.585039,12.000039 L4.92893219,6.34314575 C4.5384079,5.95262146 4.5384079,5.31945648 4.92893219,4.92893219 C5.31945648,4.5384079 5.95262146,4.5384079 6.34314575,4.92893219 Z">`
                text += `</path>`

                text += `</svg>`
                text += `</span>`
                text += `</span>`
                text += `</div>`


                text += `<div style = "display:flex; justify-content: space-between; border-bottom: 1px solid rgb(228, 229, 237); padding-bottom: 15px;margin-top: -15px; width: 100%;" >`

                text += `<div style = "font-size: 25px;margin-top: 5px;">` + " 멋있는 나의 재능 "
                text += `</div>`


                text += `<div style = "display: flex;" >`
                text += `<div role = "link" color = "yellow" href = "#" class= "css-8x0gm eklkj752" id = "writeDelete" >`
                text += `<span class = "css-1oteowz eklkj751">` + " 삭제 "
                text += `</span>`
                text += `</div>`


                text += `<div style="display: none" id="donationId">` + "해당도네이션아이디 : " + talent.donationId + `</div>`


                text += `<div style = "padding-right :10px"> `
                text += `</div>`

                text += `<div role = "link" color = "yellow" href = "#" class = "css-8x0gm eklkj752" id = "writeChange" >`
                text += `<span class = "css-1oteowz eklkj751" >` + " 수정 "
                text += `</span>`
                text += `</div>`

                text += `</div>`
                text += `</div>`

                text += `<div>`
                text += `<div style = "display:flex; justify-content: space-between; padding-top: 35px;">`
                text += `<div class = "abc" style = "padding-right: 50px;">`
                text += `<span class= "abcd" style="width: 220px; height: 200px;">`

                /*=========================================================================================================*/
                if(talent.fileName == null){
                    //텍스트 추가 이미지src 에다 talent로 가져온 filePath + fileUUid _ fileName으로 이미지를 찾아온다.
                    text += `<img id="profilepicture" src="/imgs/myPage/normalProfile.png" class="talentImg">`
                }else {
                    text += `<img class="talentImg" src="/file/display?fileName=`+ talent.filePath + `/` + talent.fileUuid + `_` + talent.fileName +`"  style="border-radius: :10px">`
                }
                /*=========================================================================================================*/

                text += `</span>`
                text += ` <div class = "css-pea598 e1y81j3a5">`
                text += `</div>`
                text += `</span>`
                text += `</div>`
                text += `<div>`
                text += `<div class = "css-1438eek e1y81j3a6" >`
                text += `<div class = "css-13mgtqc e1y81j3a9" >`
                text += `<div class = "margin-bottom-8 flexBetween" style = "margin-bottom: 0px;" >`
                text += `<div class = "inputTitle" >` + "카테고리"
                text += `</div>`

                text += `<div id = "writePlease" style = "display: none; color :rgb(255,64,43); margin-top: -15px;" >` + "내용을 전부 작성 해주세요."

                text += `</div>`
                text += `</div>`
                text += `<div class = "margin-bottom-8 relative" style = "width: 350px;">`
                text += `<div class = "moreSelectWrap" style = "z-index: 2;" >`
                text += `<div class = "moreSelectItem" >` + "교육" + `</div>`
                text += `<div class = "moreSelectItem" >` + "운동" + `</div>`
                text += `<div class = "moreSelectItem" >` + "음악" + `</div>`
                text += `<div class = "moreSelectItem" >` + "미술" + `</div>`
                text += `<div class = "moreSelectItem" >` + "IT" + `</div>`
                text += `</div>`
                text += `<div class = "inputCos flex" id="cates" style = "padding: 0;" >`
                text += `<div class = "inputSpace flexRow" >`
                text += `<input type = text style="border:none" name="bank" class="pleasehear1" value="` + talent.talentCategory + `" placeholder = "카테고리를 선택해주세요" disabled >`
                text += `</div>`
                text += `<div class = "arrowWrap" >`
                text += `<svg height = "20" width = "20" class = "arrowColor" >`
                text += `<path d = "M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z" >`
                text += `</path>`
                text += `</svg>`
                text += `</div>`
                text += `</div>`
                text += `</div>`
                text += `<div class = "margin-bottom-8 flexBetween" style = "margin-bottom: 0px;" >`
                text += `<div class = "inputTitle" >` + "지역 "
                text += `</div>`
                text += `</div>`
                text += `<div class = "margin-bottom-8 relative" style = "width: 350px;" >`
                text += `<div id = "moreSelectWrap" style = "z-index: 1;" >`
                text += `<div class = "place" >` + "서울" + `</div>`
                text += `<div class = "place" >` + "경기도" + `</div>`
                text += `<div class = "place" >` + "강원도" + `</div>`
                text += `<div class = "place" >` + "충청도" + `</div>`
                text += `<div class = "place" >` + "전라도" + `</div>`
                text += `<div class = "place" >` + "경상도" + `</div>`
                text += `<div class = "place" >` + "제주도" + `</div>`
                text += `</div>`
                text += `<div id = "inputCos" class = "inputCos flex" style = "padding: 0;" >`
                text += `<div class = "inputSpace flexRow" >`
                text += `<input type = text name = "talent" id = "talent" class = "pleasehear2"  value="` + talent.talentPlace + `" placeholder = "지역을 선택해주세요" disabled >`
                text += `</div>`
                text += `<div class = "arrowWrap" >`
                text += `<svg height = "20" width = "20" class = "arrowColor" >`
                text += `<path d = "M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z" >`
                text += `</path>`
                text += `</svg>`
                text += `</div>`
                text += `</div>`
                text += `</div>`
                text += `<div>`
                text += `<div class = "margin-bottom-8 flexBetween" style = "margin-bottom: 6px;" >`
                text += `<div class = "inputTitle" id = "cateDate" >` + "날짜"
                text += `</div>`
                text += `</div>`
                text += `<div>`
                text += `<input type = "date" id = "dateTime" class = "inputCos" value="` + thisTime + `" >`
                text += `</div>`
                text += `</div>`

                text += `<div >`
                text += `<div class = "margin-bottom-8 flexBetween" style = "margin-bottom: 6px; padding-top: 4px;" >`
                text += `<div class = "inputTitle" id = "cateTitle" >` + "제목"
                text += `</div>`
                text += `</div>`
                text += `<input type = "text" class = "inputCos" id = "kim2" value="` + talent.talentTitle + `" > `
                text += `</div>`


                text += `<div>`
                text += `<div class = "margin-bottom-8 flexBetween" style = "margin-bottom: 6px; padding-top: 4px;" >`
                text += `<div class = "inputTitle" id = "cateContent" >` + "내용" + `</div>`
                text += `</div>`

                text += `<div class = "relative" >`
                text += `<div class = "textareaCos" id = "talentText" name = "content" >`
                text += `<textarea id = "kimeuiyeob">` + talent.talentContent
                text += `</textarea> `
                text += `</div>`

                text += `<div class = "maxContentLength" style = "padding-left: 80%;margin-top: -7%;" > `
                text += `<span class = "contentLength" >` + "0" + `</span>` + "/300"
                text += `</div>`

                text += `</div>`
                text += `</div>`
                text += `</div>`
                text += `</div>`
                text += `</div>`
                text += `</div>`
                text += `</div>`
                text += `</div>`
                text += `</div>`

                $(".modalWrap").html(text);
                $contentLength = $('.contentLength');
                $contentLength.text(talent.talentContent.length);
                globalThis.donationId = donationId;

                myCategory = talent.talentCategory;
                myPlace = talent.talentPlace;

                myTime = talent.talentAbleDate;

                myTitle = talent.talentTitle;
                myContent = talent.talentContent;

            }
        })
    })

    /*=============================================================================================================*/
    /*재능기부 목록 취소버튼*/

    $(".modalWrap").on('click', ".css-nh621w", function () {
        $modalWrap.hide();
        body.css('overflow', 'auto');
    })

    /*=============================================================================================================*/
    /*글자수 제한*/
    let contentAll = "";
    const maxContent = 300;

    $(".modalWrap").on("keyup", "#kimeuiyeob", function () {
        let length = $(this).val().length;
        console.log("총내용 : " + length)
        contentAll = $contentLength.text(length);
        if (length > maxContent) {
            $(this).text($(this).val().substring(0, maxContent));
            $contentLength.text(maxContent);
        }
    })

    /*=============================================================================================================*/
    /*모달 내부 카테고리 드랍다운*/

    let selectCheck = false;
    $(".modalWrap").on("click", "#cates", function () {
        if (!selectCheck) {
            $(".moreSelectWrap").show();
            selectCheck = true;
        } else {
            $(".moreSelectWrap").hide();
            selectCheck = false;
        }

    })

    $(".modalWrap").on("click", ".moreSelectItem", function () {
        myCategory = $(this).text();
        const $inputTag = $(this).parent().parent().find(".pleasehear1");
        $inputTag.val(myCategory);
        $(".moreSelectWrap").hide();
        selectCheck = false;
    })

    /*=============================================================================================================*/
    /*모달 내부 지역 드랍 다운*/

    let selCheck = false;
    $(".modalWrap").on("click", "#inputCos", function () {
        if (!selCheck) {
            $("#moreSelectWrap").show();
            selectCheck = true;
        } else {
            $("#moreSelectWrap").hide();
            selCheck = false;
        }

    })

    $(".modalWrap").on("click", ".place", function () {
        myPlace = $(this).text();
        const $inputTag = $(this).parent().parent().find(".pleasehear2");
        $inputTag.val(myPlace);
        $("#moreSelectWrap").hide();
        selCheck = false;
    })

    /*=============================================================================================================*/
    /*재능목록 해당 도네이션 아이디로 삭제 => 페이지이동 , 연습용(사용안함) */

    // $(".modalWrap").on('click', "#writeDelete", function () {
    //     let donationId = globalThis.donationId
    //     location.href = "/talent/delete?donationId=" + donationId;
    // })

    /*=============================================================================================================*/
    /*재능목록 해당 도네이션 아이디로 삭제 => 레스트사용*/

    $(".modalWrap").on('click', "#writeDelete", function () {
        let donationId = globalThis.donationId
        deleteTalent({
            donationId: donationId
        }, hideModal);
    })

    function deleteTalent(talentDTO, callback, error) {
        $.ajax({
            url: "/talentrest/delete",
            type: "post",
            data: JSON.stringify(talentDTO),
            contentType: "application/json; charset=utf-8",
            success: function () {
                if (callback) {
                    callback();
                }
            },

            error: function (xhr, status, err) {
                if (error) {
                    error(err);
                }
            }
        });
    }

    /*=============================================================================================================*/
    /*마이페이지 모달 글 수정하기 버튼*/

    $(".modalWrap").on("click", "#writeChange", function () {

        myTime = $('#dateTime').val();
        myTitle = $('#kim2').val();
        myContent = $('#kimeuiyeob').val();
        let donationId = globalThis.donationId

        console.log("수정 클릭!!!")

        if (myCategory == "" || myPlace == "" || myTime == "" || myTitle == "" || myContent == "") {
            $('#writePlease').show();
        } else {
            changeTalent({
                talentTitle: myTitle,
                talentContent: myContent,
                talentAbleDate: myTime,
                talentCategory: myCategory,
                talentPlace: myPlace,
                donationId: donationId
            }, hideModal);
        }
    });

    function changeTalent(talentDTO, callback, error) {
        talentDTO.talentAbleDate = talentDTO.talentAbleDate + " 00:00:00";
        $.ajax({
            url: "/talentrest/change",
            type: "post",
            data: JSON.stringify(talentDTO),
            contentType: "application/json; charset=utf-8",
            success: function () {
                if (callback) {
                    callback();
                }
            },

            error: function (xhr, status, err) {
                if (error) {
                    error(err);
                }
            }
        });
    }

    function hideModal() {
        $modalWrap.hide();
        body.css('overflow', 'auto');
        show();
    }

    /*=============================================================================================================*/
    /*인풋 데이트 타입 오늘전 날짜 클릭 못하게*/

    var now_utc = Date.now()
    var timeOff = new Date().getTimezoneOffset() * 60000;
    var today = new Date(now_utc - timeOff).toISOString().split("T")[0];

    $(".modalWrap").on('click', "#dateTime", function () {
        document.getElementById("dateTime").setAttribute("min", today);
    })

    /*=============================================================================================================*/
    /*페이징 버튼 처리 전체*/

    function pageingBtn() {
        let text = "";
        let nowPage = pageInfo.pageable.pageNumber + 1;
        let endPage = Math.ceil(nowPage / 5) * 5;
        let startPage = endPage - 5 + 1;
        // <!--페이징 처리-->
        // 이전
        if (startPage > 1) {
            text += `<div class="prev-page page-number-padding">`
            text += `<a class="page-number-link" href="` + (startPage - 2) + `">`
            text += `<div class="prev-page-prevArrow"></div>`
            text += `</a>`
            text += `</div>`
        } else {
            text += `<div class="prev-page page-number-padding">`
            text += `</div>`
        }
        // 페이지 버튼
        for (let i = startPage; i < startPage + 5 && i <= pageInfo.totalPages; i++) {
            text += `<div class="page-number-padding">`
            if (i == nowPage) {
                text += `<div class="page-number-link" style="color:#303441">` + i + `</div>`
            } else {
                text += `<a class="page-number-link" href="` + (i - 1) + `">` + i + `</a>`
            }
            text += `</div>`
        }
        //이후
        if (4 < endPage && endPage < pageInfo.totalPages) {
            text += `<div class="next-page page-number-padding">`
            text += `<a class="page-number-link" href="` + (endPage) + `">`
            text += `<div class="prev-page-nextArrow"></div>`
            text += `</a>`
            text += `</div>`
            text += `</div>`
            text += `</div>`
        }
        $pagingBtnFlex.html(text);
    }

    $pagingBtnFlex.on('click', ".page-number-link", function (e) {
        e.preventDefault();
        window.scrollTo({top: 0})
        globalThis.page = $(this).attr("href");
        show();
    })

    /*  페이지 이동  */
    const $pageNumberLink = $('.page-number-link');

    $pagingBtnFlex.on('mouseover', "a.page-number-link", function () {
        $(this).css('background-color', '#f4f6fa');
    })

    $pagingBtnFlex.on('mouseout', "a.page-number-link", function () {
        $(this).css('background-color', '#fff');
        $(this).css('color', '#9a9ba7');
    })

    window.onresize = function () {
        document.location.reload();
    };

    /*=========================================================*/

</script>
</html>