<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/join/joinSelect.css" type="text/css"/>
    <link rel="icon" href="/imgs/fix/favicon.png">
    <title>마일스톤 | 회원가입(2)</title>
</head>

<body>
<div id="__next">
    <main class="css-acorl0 exsijq50" style="margin-bottom: 24px;">
        <a th:href="@{/main/main}"><img src="/imgs/fix/logo.png" alt="" style="width: 114px; height: 31.5px; margin-bottom:24px"></a>
        <div class="css-1a9ujk8 ehygldk0">
            <div class="css-j7qwjs ea9yud40">
                <h1 class="css-1ljdbip e18a8c3q0">마일스톤에서 어떤 서비스를<br>이용하고 싶으세요?</h1>
                <p class="css-bnp71o ea9yud41">원하는 회원가입 유형을 선택하세요.<br>의뢰인으로 가입 후에도 전문가 등록이 가능합니다.</p><label
                    class="css-0 ea9yud42">
                <div class="css-1imsxus ea9yud43">기부를 하고 싶다면</div>
                <button role="button" color="yellow"
                        class="ea9yud44 css-7rtdk7 eklkj752" th:onclick="|location.href='@{/join/way}'|"><span
                        class="css-0 "><span role="img" color="#e4e5ed"
                                             rotate="0"
                                             class="css-nh621w e181xm9y1"><svg
                        width="24" height="24"
                        viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" focusable="false"
                        preserveAspectRatio="xMidYMid meet" class="css-7kp13n e181xm9y0">
                                        <path d="M0 0h24v24H0V0z" fill="none"></path>
                                        <path
                                                d="M7.13322158,10.821143 C6.77457526,10.3822153 6.17602724,10.3624856 5.79632715,10.7770754 C5.41662707,11.1916652 5.39955962,11.8835778 5.75820594,12.3225054 L9.30027691,16.6574524 C9.66714471,17.1064419 10.2826916,17.1152317 10.6590418,16.6768551 L18.2255456,7.86331213 C18.5934618,7.43475954 18.5911847,6.74257073 18.2204597,6.31726515 C17.8497347,5.89195957 17.2509477,5.89459179 16.8830316,6.32314438 L10.004578,14.3352391 L7.13322158,10.821143 Z">
                                        </path>
                                    </svg></span></span><span class="css-1oteowz eklkj751">개인으로 가입</span></button>
            </label><label class="css-bqrqdl ea9yud42">
                <div class="css-1imsxus ea9yud43">보육원을 등록하고 싶다면</div>
                <button role="button" color="yellow"
                        class="ea9yud44 css-7rtdk7 eklkj752" th:onclick="|location.href='@{/introduce/schoolSignUp}'|"><span class="css-0 "><span role="img" color="#e4e5ed"
                                                                                        rotate="0"
                                                                                        class="css-nh621w e181xm9y1"><svg
                        width="24" height="24"
                        viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" focusable="false"
                        preserveAspectRatio="xMidYMid meet" class="css-7kp13n e181xm9y0">
                                        <path d="M0 0h24v24H0V0z" fill="none"></path>
                                        <path
                                                d="M7.13322158,10.821143 C6.77457526,10.3822153 6.17602724,10.3624856 5.79632715,10.7770754 C5.41662707,11.1916652 5.39955962,11.8835778 5.75820594,12.3225054 L9.30027691,16.6574524 C9.66714471,17.1064419 10.2826916,17.1152317 10.6590418,16.6768551 L18.2255456,7.86331213 C18.5934618,7.43475954 18.5911847,6.74257073 18.2204597,6.31726515 C17.8497347,5.89195957 17.2509477,5.89459179 16.8830316,6.32314438 L10.004578,14.3352391 L7.13322158,10.821143 Z">
                                        </path>
                                    </svg></span></span><span class="css-1oteowz eklkj751">보육원으로 가입</span></button>
            </label>
            </div>
        </div>
    </main>
    <div id="ad-block" class="css-6asoex e14mv1df0"></div>
</div>
</body>
</html>