<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/join/joinPublic.css">
    <link rel="stylesheet" href="/css/join/joinWay.css">
    <link rel="stylesheet" href="/css/join/public.css">
    <link rel="icon" href="/imgs/fix/favicon.png">
    <title>마일스톤 | 회원가입</title>
</head>

<body>
<div class="joinWrap flexCol" style="margin-bottom: 100px;">
    <a class="joinHeader" href=""><img src="/imgs/fix/logo.png" alt=""
                                       style="width: 114px; height: 31.5px;"></a>
    <div class="joinBody flexCol">
        <div class="joinTitleWrap">
            3초안에 가입하고,
            <br>기부랭킹에 도전하세요!
        </div>
        <div class="snsBtns">
            <div class="snsBtnWrap">
                <div class="snsBtn flexPublic" style="background-color : limegreen;">
                    <div class="flexPublic">
                        <img src="https://d2v80xjmx68n4w.cloudfront.net/assets/icon/icon_naver.png" width="30px"
                             style="margin-right: 5px;" alt="">
                        <div>네이버 간편 가입하기</div>
                    </div>
                </div>
            </div>
            <div class="snsBtnWrap">
                <div class="snsBtn flexPublic" style=" background-color : yellow; color:#333333;">
                <div class="flexPublic">
                    <img src="https://d2v80xjmx68n4w.cloudfront.net/assets/icon/icon_kakao.png" width="30px"
                         style="margin-right: 5px;" alt="">
                    <div>카카오 간편 가입하기</div>
                </div>
            </div>
        </div>
        <div class="snsBtnWrap">
            <div class="snsBtn flexPublic" style="background-color : rgb(225, 83, 63);">
                <div class="flexPublic">
                    <img src="https://d2v80xjmx68n4w.cloudfront.net/assets/icon/icon_google.png" width="30px"
                         style="margin-right: 5px;" alt="">
                    <div>구글 간편 가입하기</div>
                </div>
            </div>
        </div>
    </div>
    <div class="divisionLine">
        <div class="emailWrap">
            <a href="" class="snsBtn flexPublic"
                 style="background-color : /*rgb(255, 253, 236)*/#e4e5ed; color:#333333;">
                <div class="flexPublic">
                    <div>이메일로 가입하기</div>
                </div>
            </a>
        </div>
    </div>
</div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
</html>