<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마일스톤 | 관리자페이지</title>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/admin/all.css">
    <link rel="icon" href="/imgs/fix/favicon.png">
</head>
<style>
    .add-submit {
        cursor: pointer;
        padding: 11px 20.5px;
        color: #fff;
        font-size: 14.3px;
        background-color: #009ef7;
        border-radius: 00.625rem;
        display: flex;
        align-items: center;
        border: none;
    }
</style>
<body onload="showClock()">
<!-- 공지사항 수정 모달창 -->
<div class="update-notice-modal" style="z-index: 5555;">
    <div class="update-notice-modal-body">
        <div class="notice-modal-header">
            <h2>공지사항 수정</h2>
            <div class="close-img"></div>
        </div>
        <form th:action="@{/notice/modify}" method="post">
            <input type="hidden" class="hidden-noticeId" name="noticeId" value="">
            <div class="notice-modal-body">
                <div class="schedule-info-box">
                    <div class="menu-sub-dropdown-item-title-margin">
                        제목
                    </div>
                    <div class="menu-sub-dropdown-item-title-margin">
                        <input class="modal-info-padding" type="text" placeholder="제목을 입력하세요" name="noticeTitle" style="font-size: 14px"/>
                    </div>
                </div>
                <div class="schedule-info-box">
                    <div>
                        <textarea class="summernote2" name="noticeContent">
                        </textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="modal-submit">수정</button>
            </div>
        </form>
    </div>
</div>
<!-- 공지사항 추가 모달창 -->
<div class="add-schedule-modal" style="z-index: 5555;">
    <div class="add-schedule-modal-body">
        <div class="notice-modal-header">
            <h2>공지사항 작성</h2>
            <div class="close-img"></div>
        </div>
        <form method="post" th:action="@{/notice/write}">
            <div class="notice-modal-body">
                <div class="schedule-info-box">
                    <div class="menu-sub-dropdown-item-title-margin">
                        제목
                    </div>
                    <div class="menu-sub-dropdown-item-title-margin">
                        <input  class="modal-info-padding notice-title" type="text" placeholder="제목을 입력하세요" name="noticeTitle" style="font-size: 14px">
                    </div>
                </div>
                <div class="schedule-info-box">
                    <div>
                        <textarea class="summernote" name="noticeContent"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="add-submit">추가</button>
            </div>
        </form>
    </div>
</div>
<!-- 삭제 모달창 -->
<div class="delete-modal">
    <div class="delete-modal-body">
        <div class="delete-modal-top">
            !
        </div>
        <div class="delete-modal-middle">삭제하시겠습니까?</div>
        <div class="delete-modal-bottom">
            <div class="delete-modal-delete" style="cursor: pointer">네,삭제합니다!</div>
            <div class="delete-modal-cancel" style="cursor: pointer">아니요,취소</div>
        </div>
    </div>
</div>
<!-- 확인 모달창 -->
<div class="delete-modal1" style="display:none;">
    <div class="delete-modal-body" style="z-index: 10000;box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 9999px;">
        <div class="delete-modal-top">
            !
        </div>
        <div class="delete-modal-middle">항목을 선택하세요</div>
        <div class="delete-modal-bottom">
            <div class="delete-modal-cancel1" style="cursor: pointer">닫기</div>
        </div>
    </div>
</div>
<!-- 사이드 -->
<div id='sidebar'>
    <div id='sidebar_header'>
        <a th:href="@{../main/main}" id="mileStoneLogo">
        </a>
    </div>
    <div id="sidebar_menu">
        <div id="sidebar_menu_wrapper">
            <div class="menu menu_colum">
                <!-- 대시 보드 -->
                <div class="menu-item pt-5">
                    <div class="menu-content">
                        <span class="menu-heading">페이지</span>
                    </div>
                </div>
                <!-- 사용자 관리 -->
                <div class="menu_item">
                        <span class="menu-link">
                            <span class="menu-icon">
                                <span id="user-icon-img"></span>
                            </span>
                            <span class="menu-title">사용자 관리</span>
                            <span class="menu-arrow">
                                <span class="arrow-icon"></span>
                            </span>
                        </span>
                    <div class="menu-sub">
                        <div class="menu-item">
                            <a class="menu-link active" th:href="@{/admin/user}">
                                    <span class="menu-bullet">
                                        <span class="bullet"></span>
                                    </span>
                                <span class="menu-title">전체 회원</span>
                            </a>
                        </div>
                        <div class="menu-item">
                            <a class="menu-link active" th:href="@{/admin/school}">
                                    <span class="menu-bullet">
                                        <span class="bullet"></span>
                                    </span>
                                <span class="menu-title">보육원 회원</span>
                            </a>
                        </div>
                        <div class="menu-item">
                            <a class="menu-link active" th:href="@{/admin/reason}">
                                    <span class="menu-bullet">
                                        <span class="bullet"></span>
                                    </span>
                                <span class="menu-title">탈퇴 회원</span>
                            </a>
                        </div>
                    </div>

                </div>
                <!-- 커뮤니티 관리 -->
                <div class="menu_item">
                        <span class="menu-link">
                            <span class="menu-icon">
                                <span id="coumunity-icon-img"></span>
                            </span>
                            <span class="menu-title">재능기부 관리</span>
                            <span class="menu-arrow">
                                <span class="arrow-icon"></span>
                            </span>
                        </span>
                    <div class="menu-sub">
                        <div class="menu-item">
                            <a class="menu-link active" th:href="@{/admin/talent}">
                                    <span class="menu-bullet">
                                        <span class="bullet"></span>
                                    </span>
                                <span class="menu-title">재능기부</span>
                            </a>
                        </div>
                    </div>

                </div>
                <!-- 기부 일정 관리 -->
                <div class="menu_item">
                        <span class="menu-link">
                            <span class="menu-icon">
                                <span id="schedule-icon-img"></span>
                            </span>
                            <span class="menu-title">기부 관리</span>
                            <span class="menu-arrow">
                                <span class="arrow-icon"></span>
                            </span>
                        </span>
                    <div class="menu-sub">
                        <div class="menu-item">
                            <a class="menu-link active" th:href="@{/admin/money}">
                                    <span class="menu-bullet">
                                        <span class="bullet"></span>
                                    </span>
                                <span class="menu-title">현금기부</span>
                            </a>
                        </div>
                        <div class="menu-item">
                            <a class="menu-link active" th:href="@{/admin/service}">
                                    <span class="menu-bullet">
                                        <span class="bullet"></span>
                                    </span>
                                <span class="menu-title">봉사</span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- 고객지원 -->
                <div class="menu_item">
                        <span class="menu-link">
                            <span class="menu-icon">
                                <span id="supportGuest-icon-img"></span>
                            </span>
                            <span class="menu-title">공지사항 관리</span>
                            <span class="menu-arrow">
                                <span class="arrow-icon"></span>
                            </span>
                        </span>
                    <div class="menu-sub">
                        <div class="menu-item">
                            <a class="menu-link active" th:href="@{/admin/notice}">
                                    <span class="menu-bullet">
                                        <span class="bullet"></span>
                                    </span>
                                <span class="menu-title">공지사항</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 헤더 -->
<header>
    <div id="header">
        <a href="https://playwarcraft3.com/ko-kr/" class="banner"></a>
        <div id="toolBox">
            <div id="divClock" class="clock"></div>
            <div>
                관리자님 환영합니다.
            </div>
        </div>
    </div>
</header>
<!-- 메인 -->
<main>
    <div class="main">
        <div id="toolbar">
            <div id="toolbarTitle">
                <span id="toolbarTitleText">공지사항 관리</span>
                <span id="toolbarTitleSub">홈 - 공지사항 관리 - 공지사항</span>
            </div>
        </div>
        <!-- 메인 컨텐츠 -->
        <div id="content-container-hover">
            <div id="content-container">
                <div class="card">
                    <!-- 카드 헤더 -->
                    <div class="card-header">
                        <div class="card-title">
                            <div class="card-title-item-box">
                                <div class="card-item-search"></div>
                                <input id="search-bar" type="text" placeholder="검색" name="search">
                            </div>
                        </div>
                        <div class="card-toolbar">
                            <div class="card-toolbar-itemBox">
                                <button class="card-toolbar-item filter" id="hover4">
                                    <div id="filter-img"></div>
                                    필터

                                    <div class="menu-sub-dropdown">
                                        <div class="menu-sub-dropdown-wrap">
                                            <div class="menu-sub-dropdown-header-title">
                                                필터 옵션
                                            </div>
                                        </div>
                                        <div class="menu-sub-dropdown-wrap">
                                            <!--                                            <div class="menu-sub-dropdown-item-margin">-->
                                            <!--                                                <div class="menu-sub-dropdown-item-title-margin">-->
                                            <!--                                                    <div class="menu-sub-dropdown-item-title">분류:</div>-->
                                            <!--                                                </div>-->
                                            <!--                                                <div class="menu-sub-dropdown-option">-->
                                            <!--                                                    <label class="menu-sub-dropdown-option-box">-->
                                            <!--                                                        <input type="checkbox">-->
                                            <!--                                                        <div class="menu-sub-dropdown-option-text" id="option3">-->
                                            <!--                                                            옵션 선택-->
                                            <!--                                                        </div>-->
                                            <!--                                                        <div class="menu-sub-dropdown-option-arrow"></div>-->
                                            <!--                                                        <div class="menu-sub-dropdown-option-sub">-->
                                            <!--                                                            <div class="menu-sub-dropdown-option-sub-item">-->
                                            <!--                                                                공지-->
                                            <!--                                                            </div>-->
                                            <!--                                                            <div class="menu-sub-dropdown-option-sub-item">-->
                                            <!--                                                                점검-->
                                            <!--                                                            </div>-->
                                            <!--                                                        </div>-->
                                            <!--                                                    </label>-->
                                            <!--                                                </div>-->
                                            <!--                                            </div>-->
                                            <div class="menu-sub-dropdown-item-margin">
                                                <div class="menu-sub-dropdown-item-title-margin">
                                                    <div class="menu-sub-dropdown-item-title">작성일:</div>
                                                </div>
                                                <div class="menu-sub-dropdown-option">
                                                    <label class="menu-sub-dropdown-option-box">
                                                        <input type="checkbox">
                                                        <div class="menu-sub-dropdown-option-text" id="option4">
                                                            옵션 선택
                                                        </div>
                                                        <div class="menu-sub-dropdown-option-arrow"></div>
                                                        <div class="menu-sub-dropdown-option-sub">
                                                            <div class="menu-sub-dropdown-option-sub-item">
                                                                오름차순
                                                            </div>
                                                            <div class="menu-sub-dropdown-option-sub-item">
                                                                내림차순
                                                            </div>
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="menu-sub-dropdown-footer">
                                                <div class="menu-sub-dropdown-Botton" id="reset2">초기화</div>
                                                <div class="menu-sub-dropdown-Botton apply-button">닫기</div>
                                            </div>

                                        </div>
                                    </div>
                                </button>
                                <button class="card-toolbar-item filter" id="hover5" style="display: none">
                                    <div id="update-img"></div>
                                    공지사항 수정
                                </button>
                                <button class="card-toolbar-item filter" id="hover6">
                                    <div id="plusBlue-img"></div>
                                    공지사항 추가
                                </button>
                                <button class="card-toolbar-item" id="notice-delete hover7" style="cursor: pointer">
                                    <div id="out-img"></div>
                                    공지사항 삭제
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- 카드 메인 -->
                    <div class="card-body">
                        <!-- 공지 목록 -->
                        <table>
                            <thead class="card-body-title-box">
                            <tr class="card-body-line">
                                <th class="card-body-title-checkbox-padding" style="width: 14%;">
                                    <label class="card-body-title-user-checkbox">
                                        <div class="check-img"></div>
                                        <input class="notice-checked-all checked" type="checkbox" name="check-all">
                                    </label>
                                </th>
                                <!--                                <th class="card-body-title-padding" style="width: 6%;">-->
                                <!--                                    <div class="card-body-title-height">-->
                                <!--                                        분류-->
                                <!--                                    </div>-->
                                <!--                                </th>-->
                                <th class="card-body-title-padding" style="width: 50%;">
                                    <div class="card-body-title-height">
                                        제목
                                    </div>
                                </th>
                                <th class="card-body-title-padding" style="width: 32%;">
                                    <div class="card-body-title-height">
                                        작성일
                                    </div>
                                </th>
                            </tr>
                            </thead>
                            <tbody class="card-body-main-box">
                            <!--                            <tr>
                                                            <th class="card-body-title-checkbox-padding" style="width: 14%;">
                                                                <label class="card-body-title-user-checkbox">
                                                                    <div class="check-img"></div>
                                                                    <input class="notice-checked checked" type="checkbox" name="check">
                                                                </label>
                                                            </th>
                                                            <th class="card-body-title-padding" style="width: 50%;">
                                                                <div class="donate-info-height">
                                                                    <div class="donate-info-text">
                                                                        [점검완료] 10/3(월) 홈페이지 정기점검(6:00 ~ 9:00)
                                                                    </div>
                                                                </div>
                                                            </th>
                                                            <th class="card-body-title-padding" style="width: 32%;">
                                                                <div class="donate-info-height">
                                                                    2022년 11월 22일 19시 53분
                                                                </div>
                                                            </th>
                                                        </tr>-->

                            </tbody>
                        </table>
                        <!-- 카드 푸터 -->
                        <!-- 카드 푸터 -->
                        <div class="card-footer">
                            <div class="empty-div"></div>
                            <div class="paging-number-box">
                                <div class="paging-number">
                                    <div class="paging-number-flex">
                                        <!--<div class="prev-page page-number-padding">
                                            <a class="page-number-link" href="">
                                                <div class="prev-page-prevArrow"></div>
                                            </a>
                                        </div>
                                        <div class="page-number-padding">
                                            <a class="page-number-link" href="">1</a>
                                        </div>
                                        <div class="page-number-padding">
                                            <a class="page-number-link" href="">2</a>
                                        </div>
                                        <div class="page-number-padding">
                                            <a class="page-number-link" href="">3</a>
                                        </div>
                                        <div class="next-page page-number-padding">
                                            <a class="page-number-link" href="">
                                                <div class="prev-page-nextArrow"></div>
                                            </a>
                                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 푸터 -->
        <footer>
            <div id="footer-logo-box">
                <div id="footer-flex">
                    <div id="footer-logo"></div>
                    <div id="footer-company">2022© 동석한 아카데미 Team 4</div>
                </div>
            </div>
            <div id="footer-flex">
                <div id="footer-menu">
                    이용약관 · 개인정보 처리방침 · 이용약관 · 사업자 정보 확인 · 제휴/협력 · 문의 단체/기업 교육 문의
                </div>
                <div id="footer-company-info">
                    대표 김의엽 | 서울 강남구 테헤란로 146 3층(역삼동) | T4@.inc | 전화번호: 1234-1234 |
                </div>
            </div>
        </footer>
    </div>
</main>
</body>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
<script>
    var jb = jQuery.noConflict();
</script>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/admin/public.js"></script>
<script src="/js/admin/notice.js"></script>

</html>