@font-face {
    font-family: 'Metro Sans';
    font-style: normal;
    src: url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Bold.woff2) format('woff2'),
    url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Bold.woff) format('woff'),
    url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Bold.otf) format('truetype'), url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Bold.eot),
    url(https://d2v80xjmx68n4w.cloudfront.net/assets/fonts/MetroSans/MetroSans-Bold.eot?#iefix) format('embedded-opentype');
}

.css-1a9ujk8 {
    padding: 56px 80px;
    border: 1px solid #e4e5ed;
    width: 100%;
}

.css-j7qwjs {
    display: flex;
    flex-direction: column;
}

.css-1ljdbip {
    font-size: 30px;
    font-weight: normal;
    color: #303441;
    line-height: normal;
    margin-bottom: 40px;
    margin-top: 0;
}

.css-bnp71o {
    color: #727585;
    font-size: 14px;
    margin-top: -24px;
    margin-bottom: 40px;
    line-height: normal;
}

* {
    font-family: 'Metro Sans',sans-serif;
    box-sizing: border-box;
}

.css-1imsxus {
    margin-bottom: 12px;
    font-size: 15px;
    font-weight: 500;
    color: #555969;
}

.css-7rtdk7 {
    outline: none;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 4px;
    line-height: 1;
    font-weight: 500;
    -webkit-transition: background-color 0.3s,border-color 0.3s;
    transition: background-color 0.3s,border-color 0.3s;
    -webkit-text-decoration: none;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    max-width: 100%;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 36px;
    font-size: 14px;
    padding: 0 16px;
    min-width: 64px;
    background-color: #ffffff;
    border-color: #fae57c;
    color: #303441;
    padding: 16px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.css-nh621w {
    display: inline-block;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: -0.125em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: #e4e5ed;
}

.css-7rtdk7 svg {
    width: 18px;
    height: 18px;
}

.css-7kp13n {
    display: inline-block;
}

.css-bqrqdl {
    margin-top: 48px;
}

.css-1imsxus {
    margin-bottom: 12px;
    font-size: 15px;
    font-weight: 500;
    color: #555969;
}

.css-acorl0 {
    width: 560px;
    padding: 20px 0px;
    margin: 0 auto;
    margin-top: 56px;
    margin-bottom: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.css-1awe20x:active, .css-1awe20x:focus, .css-1awe20x:hover {
    box-shadow: none;
    border-color: rgb(255, 212, 0);
}

.css-po0zt7 {
    outline: none;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 4px;
    line-height: 1;
    font-weight: 500;
    transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    user-select: none;
    white-space: nowrap;
    width: 100%;
    max-width: 100%;
    font-size: 14px;
    min-width: 64px;
    background-color: rgb(255, 255, 255);
    color: rgb(48, 52, 65);
    padding: 16px;
    -webkit-box-pack: start;
    justify-content: flex-start;
    height: fit-content;
    border-color: rgb(228, 229, 237);
}
.css-7rtdk7 {
    outline: none;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 4px;
    line-height: 1;
    font-weight: 500;
    -webkit-transition: background-color 0.3s,border-color 0.3s;
    transition: background-color 0.3s,border-color 0.3s;
    -webkit-text-decoration: none;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    max-width: 100%;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 36px;
    font-size: 14px;
    padding: 0 16px;
    min-width: 64px;
    background-color: #ffffff;
    border-color: #fae57c;
    color: #303441;
    padding: 16px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.eklkj752:hover {
    background-color: rgb(255, 250, 209);
    border-color: rgb(255, 212, 0);
    transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s;
}