<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>notice1</title>
</head>
<!-- ===================================================================================================== -->

<link href="/css/notice/notices.css" rel="stylesheet"/>
<link rel="icon" href="/imgs/fix/favicon.png">

<link rel="stylesheet" href="/css/fix/header.css">
<link rel="stylesheet" href="/css/fix/footer.css">

<!-- ================================================================================================================ -->
<body>

<header th:replace="/fix/header.html :: header"></header>

<!-- ================================================================================================================ -->


<main role="main" style="padding-top:100px">
    <div class="container-divider" style="border-top : none;"></div>
    <div class="container">
        <div class="article-container" id="article-container" style="padding-bottom: 100px">

            <section class="article-sidebar">

                <section class="section-articles collapsible-sidebar">
                    <h3 class="collapsible-sidebar-title sidenav-title" style="padding-left:10px; color: #4c4848 ; cursor: default">최근 섹션의
                        문서</h3>
                    <ul>

                        <th:block th:each="notices : ${noticeAll}">
                            <li>
                                <div class="sidenav-item current-article" th:classappend="${notices.noticeId}" style="height: 65px">
                                    <div class="findNotice" style="cursor: pointer">
                                        <p class="sidenav-item-text" th:text="*{notices.noticeTitle}"></p>
                                        <!-- 해당 링크 걸기 -->
                                        <p class="noticeId" style="display:none " th:text="*{notices.noticeId}"></p>
                                    </div>
                                </div>
                            </li>
                        </th:block>


                    </ul>

                    <div style="padding-top: 10px"></div>
                    <a style="color: #666666 ; font-size: 15px;" href="../notice/notice" class="article-sidebar-item">더보기</a>

                </section>
            </section>

            <article class="article">

                <header class="article-header">
                    <h1 title="11월, 고객센터 운영 시간 안내" class="article-title" th:utext="${notice.noticeTitle}"></h1>
                </header>

                <section class="article-info">
                    <div class="article-content">
                        <div class="article-body">
                            <p th:utext="${notice.noticeContent}"></p>
                        </div>
                    </div>
                </section>

            </article>
        </div>
    </div>
</main>

<!-- =========================================================================================================== -->
<footer th:replace="/fix/footer.html :: footer"></footer>

<!-- ================================================================================================================ -->
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/fix/header.js"></script>

<script th:inline="javascript">

    let url = decodeURI(window.location.href).split("=");
    let noticeId = url[url.length - 1];


    $(".sidenav-item").removeClass("selected");
    $(".sidenav-item." + noticeId).addClass("selected");


    $(".findNotice").on("click", function () {
        let noticeId = $(this).find(".noticeId").html();
        location.href = "/notice/noticeList?noticeId=" + noticeId;
    })


</script>

</html>