<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>notice5</title>
</head>

<!-- ===================================================================================================== -->

<link href="/css/notice/notices.css" rel="stylesheet" />
<link rel="icon" href="/imgs/fix/favicon.png">

<link rel="stylesheet" href="/css/fix/header.css">
<link rel="stylesheet" href="/css/fix/footer.css">

<!-- ================================================================================================================ -->
<body>

<header th:replace="/fix/header.html :: header"></header>

<!-- ================================================================================================================ -->

<main role="main" style="padding-top:100px">
    <div class="container-divider" style="border-top : none;"></div>
    <div class="container">
        <div class="article-container" id="article-container">
            <section class="article-sidebar">

                <section class="section-articles collapsible-sidebar">
                    <h3 class="collapsible-sidebar-title sidenav-title" style="padding-left:10px;">이 섹션의 문서</h3>
                    <ul>

                        <li>
                            <a href=""
                               class="sidenav-item ">
                                <p class="sidenav-item-text">Milestone 고객 센터 운영 시간 안내</p>
                            </a>
                        </li>

                        <li>
                            <a href=""
                               class="sidenav-item ">
                                <p class="sidenav-item-text">Milestone 개인 정보 처리 방침 개정 안내</p>
                            </a>
                        </li>

                        <li>
                            <a href=""
                               class="sidenav-item ">
                                <p class="sidenav-item-text">Milestone 페널티 정책 안내</p>
                            </a>
                        </li>

                        <li>
                            <a href=""
                               class="sidenav-item ">
                                <p class="sidenav-item-text">Milestone 서비스 이용약관 개정 안내</p>
                            </a>
                        </li>

                        <li>
                            <a href=""
                               class="sidenav-item current-article">
                                <p class="sidenav-item-text">Milestone을 사칭하는 메시지, 조심하세요!</p>
                            </a>
                        </li>

                        <li>
                            <a href=""
                               class="sidenav-item ">
                                <p class="sidenav-item-text">Milestone 메시지 알림 보관 기간 변경됩니다.</p>
                            </a>
                        </li>

                    </ul>

                </section>

            </section>

            <article class="article">
                <header class="article-header">
                    <h1 title="Milestone을 사칭하는 메시지, 조심하세요!" class="article-title">
                        Milestone을 사칭하는 메시지, 조심하세요!

                    </h1>

                </header>

                <section class="article-info">
                    <div class="article-content">
                        <div class="article-body">
                            <p class="wysiwyg-text-align-center">안녕하세요, Milestone입니다.</p>
                            <p class="wysiwyg-text-align-center">최근 'Milestone'을 사칭한 인물 및 업체로부터의 피해 사례가 발생하고 있습니다.</p>
                            <p class="wysiwyg-text-align-center">위와 같은 행위는 Milestone 서비스 이용에 혼란을 주고, <br>더불어 물질적인 피해를 야기할 수
                                있어 회원님들의 각별한 주의가 필요합니다.</p>
                            <p class="wysiwyg-text-align-center">아래의 안내를 참고하시어 안전하게 서비스를 이용하시기를 바랍니다.</p>
                            <p>&nbsp;</p>
                            <div class="heading-anchor-wrapper">
                                <div class="sc-bGbJRg jcuVZq">
                                    <div>&nbsp;</div>
                                </div>
                            </div>
                            <h3 id="🔸-피해-사례">🔸 피해 사례와 예방 방법</h3>
                            <p><strong>[사례 1] Milestone, 결제 기관 등을 사칭한 안내 문자 발송(링크 클릭, 회신 유도)</strong></p>
                            <p><em>"국외발신: 고객님 0월 0일 1,000,000원 결제 완료, 본인 아닐 경우 신고 요망"</em><br><em>"상담센터/신고 번호: <span
                                    class="wysiwyg-underline"><span
                                    class="wysiwyg-color-blue90">000-123-4567</span></span>"&nbsp;</em><strong><br></strong>
                            </p>
                            <p><span class="wysiwyg-color-red" style="color:red">☞ 피해 예방 방법: 문자에 포함된 링크를 클릭하거나 연락처로 회신하지 않아야
                                        합니다.</span></p>
                            <p>&nbsp;</p>
                            <p><strong>[사례 2] 개인정보 수집 </strong></p>
                            <p><em>“안녕하세요, 저희는 </em><span class="wysiwyg-color-blue90"><em>Milestone.com</em></span><em>
                                이라는 마케팅 업체입니다. <br>이번에 서비스 홍보를 위해 무료로 나눔 이벤트를 진행 중입니다. <u>참여</u>하시겠어요?“</em></p>
                            <p><em>“이벤트 참여를 위해 기본 정보<u>(참여자 명 / 전화번호 / 상품 배송받으실 주소)</u>를 작성해 주세요”</em></p>
                            <p>&nbsp;</p>
                            <p><strong>[사례 3] 인증번호 등 정보 요구</strong></p>
                            <p><em>“안녕하세요, Milestone입니다. 이번에 일시적인 서버 문제로 인증 정보가 초기화되었습니다. <br>번거로우시겠지만 휴대폰 인증을 다시 해주셔야 하는데,
                                인증번호를 불러주시겠어요?”<br></em></p>
                            <p><span class="wysiwyg-color-red" style="color:red">☞ 피해 예방 방법: 발신자가 요청하는 개인정보를 함부로 전달하지 않아야
                                        합니다.</span><em><span class="wysiwyg-color-red"><br></span></em></p>
                            <p>&nbsp;</p>
                            <p><strong>[사례 4] 업무대행 인원(아르바이트) 모집 및 대행료 미지급</strong></p>
                            <p><em>“안녕하세요, Milestone 마케팅팀 000라고 합니다. <br>SNS 또는 포털 사이</em><em>트에 댓글을 작성해 주시면 월말에 아르바이트 비용을
                                정산해드릴게요”</em></p>
                            <p><em>“안녕하세요, Milestone입니다. 이번에 프리랜서와 관련한 간담회가 열리는데, <br>참석해 주시면 소정의 비용을 드립니다. 방문하시겠어요?”</em>
                            </p>
                            <p><span class="wysiwyg-color-red" style="color:red">☞ 피해 예방 방법: 사실 확인 없이 온·오프라인 활동에 참여하지 않아야 합니다.</span>
                            </p>
                            <p>&nbsp;</p>
                            <div class="heading-anchor-wrapper">
                                <div class="sc-bGbJRg jcuVZq">
                                    <h3 id="🔸-피해-사례">🔸 주의사항</h3>
                                </div>
                            </div>
                            <p class="wysiwyg-text-align-left">Milestone은 공식 계정 및 채널을 통해서만 서비스를 제공합니다.<br>이외 방식으로는 어떠한
                                영업·모집 행위도 하지 않으며, 회원님들께 개별적으로 연락을 취하거나 접촉하여 개인정보를 요구하지 않습니다.<br>위의 사례가 의심된다면, 꼭!! Milestone
                                고객센터로 문의하여 사실 확인을 해주세요.&nbsp;</p>
                            <p class="wysiwyg-text-align-center">&nbsp;</p>
                            <p class="wysiwyg-text-align-center">이와 더불어 타인·기업의 명의를 사칭할 경우 손해배상 및 법적 다툼의 대상이 될 수 있음을
                                안내드리며,<br>Milestone에서도 위와 같은 행위에 대해 적극적으로 조치를 취할 예정입니다.</p>
                            <p class="wysiwyg-text-align-center"><br>감사합니다.</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </section>
            </article>
        </div>
    </div>

</main>

<!-- ========================================================================================== -->
<footer th:replace="/fix/footer.html :: footer"></footer>

<!-- ================================================================================================================ -->
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/fix/header.js"></script>
</html>