<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>notice6</title>
</head>

<!-- ===================================================================================================== -->

<link href="/css/notice/notices.css" rel="stylesheet" />
<link rel="icon" href="/imgs/fix/favicon.png">

<link rel="stylesheet" href="/css/fix/header.css">
<link rel="stylesheet" href="/css/fix/footer.css">

<!-- ================================================================================================================ -->
<body>

<header th:replace="/fix/header.html :: header"></header>

<!-- ================================================================================================================ -->

<main role="main" style="padding-top:100px">
    <div class="container-divider" style="border-top : none;"></div>
    <div class="container">

        <div class="article-container" id="article-container">
            <section class="article-sidebar">

                <section class="section-articles collapsible-sidebar">
                    <h3 class="collapsible-sidebar-title sidenav-title" style="padding-left:10px;">이 섹션의 문서</h3>
                    <ul>

                        <li>
                            <a href="" class="sidenav-item ">
                                <p class="sidenav-item-text">Milestone 고객 센터 운영 시간 안내</p>
                            </a>
                        </li>

                        <li>
                            <a href="" class="sidenav-item ">
                                <p class="sidenav-item-text">Milestone 개인 정보 처리 방침 개정 안내</p>
                            </a>
                        </li>

                        <li>
                            <a href="" class="sidenav-item ">
                                <p class="sidenav-item-text">Milestone 페널티 정책 안내</p>
                            </a>
                        </li>

                        <li>
                            <a href="" class="sidenav-item ">
                                <p class="sidenav-item-text">Milestone 서비스 이용약관 개정 안내</p>
                            </a>
                        </li>

                        <li>
                            <a href="" class="sidenav-item ">
                                <p class="sidenav-item-text">Milestone을 사칭하는 메시지, 조심하세요!</p>
                            </a>
                        </li>

                        <li>
                            <a href="" class="sidenav-item " style="background-color: #F2F3F7;
                                color: #333333;
                                font-weight: 400;
                                text-decoration: none;">
                                <p class="sidenav-item-text">Milestone 메시지 알림 보관 기간 변경됩니다.</p>
                            </a>
                        </li>

                </section>

            </section>

            <article class="article">
                <header class="article-header">
                    <h1 title="메시지 알림 보관 기간이 변경됩니다." class="article-title">
                        메시지 알림 보관 기간이 변경됩니다.

                    </h1>

                </header>

                <section class="article-info">
                    <div class="article-content">
                        <div class="article-body">
                            <p class="wysiwyg-text-align-center">안녕하세요, Milestone입니다.</p>
                            <p class="wysiwyg-text-align-center">메시지 알림의 보관 기간이 아래와 같이 변경될 예정입니다.<br>관련 내용을 사전에
                                안내해드리니, 꼭! 확인해 주시기를 바랍니다.</p>
                            <p>&nbsp;</p>
                            <h3 id="❚--변경-일자"><strong><span class="wysiwyg-color-orange90">❚
                                        </span>변경&nbsp;일자</strong>&nbsp;</h3>
                            <p>　2020년 12월 14일(월)</p>
                            <p>&nbsp;</p>
                            <h3 id="❚--변경-사항"><strong><span class="wysiwyg-color-orange90">❚</span> 변경 사항</strong>
                            </h3>
                            <p>　◾️ 변경 전: <strong>모든 Milestone알림, 거래알림 </strong>확인 가능<br>　◾️ 변경 후: <strong>최근 30일간의
                                알림
                                내역</strong>만 확인 가능</p>
                            <p>&nbsp;</p>
                            <h3 id="❚--유의사항"><strong><span
                                    class="wysiwyg-color-orange90">❚&nbsp;</span>&nbsp;유의사항</strong></h3>
                            <p>　◾️ '거래 알림'이 삭제되더라도 다른 채널(카카오 알림톡·이메일 등)로 발송해드린 알림 내역은 삭제되지 않으며,<strong>
                                [Milestone&gt;
                                판매·구매 관리]에서 거래 상태를 확인</strong>하실 수 있습니다.</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <div class="fabric-editor-block-mark sc-fUdGnz gXrNMT">
                                <p class="wysiwyg-text-align-center">잘 읽어보셨나요?</p>
                            </div>
                            <div class="fabric-editor-block-mark sc-fUdGnz gXrNMT wysiwyg-text-align-center">
                                <p>알림 보관 기간과 관련한 문의 사항은 고객센터로 접수해 주시기 바랍니다.</p>
                            </div>
                            <div class="fabric-editor-block-mark sc-fUdGnz gXrNMT wysiwyg-text-align-center">
                                <p>더 나은 서비스를 제공해드리기 위해 항상 노력하겠습니다.</p>
                                <p>&nbsp;</p>
                            </div>
                            <div class="fabric-editor-block-mark sc-fUdGnz gXrNMT">
                                <p class="wysiwyg-text-align-center">감사합니다.</p>
                            </div>
                            <div class="fabric-editor-block-mark sc-fUdGnz gXrNMT">
                                <p>&nbsp;</p>
                            </div>
                        </div>

                        <div class="article-attachments">
                            <ul class="attachments">

                            </ul>
                        </div>
                    </div>
                </section>
            </article>
        </div>
    </div>

</main>

<!-- =========================================================================================================== -->
<footer th:replace="/fix/footer.html :: footer"></footer>

<!-- ================================================================================================================ -->
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/fix/header.js"></script>
</html>