<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>notice1</title>
</head>
<!-- ===================================================================================================== -->

<link href="/css/notice/notices.css" rel="stylesheet" />
<link rel="icon" href="/imgs/fix/favicon.png">

<link rel="stylesheet" href="/css/fix/header.css">
<link rel="stylesheet" href="/css/fix/footer.css">

<!-- ================================================================================================================ -->
<body>

<header th:replace="/fix/header.html :: header"></header>

<!-- ================================================================================================================ -->


<main role="main" style="padding-top:100px">
    <div class="container-divider" style="border-top : none;"></div>
    <div class="container">

        <div class="article-container" id="article-container">
            <section class="article-sidebar">

                <section class="section-articles collapsible-sidebar">
                    <h3 class="collapsible-sidebar-title sidenav-title"  style="padding-left:10px;">이 섹션의 문서</h3>
                    <ul>

                        <li>
                            <a href="" class="sidenav-item current-article">
                                <p class="sidenav-item-text">Milestone 고객 센터 운영 시간 안내</p> <!-- 해당 링크 걸기 -->
                            </a>
                        </li>

                        <li>
                            <a href="" class="sidenav-item ">
                                <p class="sidenav-item-text">Milestone 개인 정보 처리 방침 개정 안내</p><!-- 해당 링크 걸기 -->
                            </a>
                        </li>

                        <li>
                            <a href="" class="sidenav-item ">
                                <p class="sidenav-item-text">Milestone 페널티 정책 안내</p><!-- 해당 링크 걸기 -->
                            </a>
                        </li>

                        <li>
                            <a href="" class="sidenav-item ">
                                <p class="sidenav-item-text">Milestone 서비스 이용약관 개정 안내</p><!-- 해당 링크 걸기 -->
                            </a>
                        </li>

                        <li>
                            <a href="" class="sidenav-item ">
                                <p class="sidenav-item-text">Milestone을 사칭하는 메시지, 조심하세요!</p><!-- 해당 링크 걸기 -->
                            </a>
                        </li>

                        <li>
                            <a href="" class="sidenav-item ">
                                <p class="sidenav-item-text">Milestone 메시지 알림 보관 기간 변경됩니다.</p><!-- 해당 링크 걸기 -->
                            </a>
                        </li>


                    </ul>

                    <!--  <a style="color:black" href="" class="article-sidebar-item">더보기</a>  --><!-- 해당 링크 걸기 -->

                </section>

            </section>

            <article class="article">
                <header class="article-header">
                    <h1 title="11월, 고객센터 운영 시간 안내" class="article-title">
                        고객센터 운영 시간 안내

                    </h1>

                </header>

                <section class="article-info">
                    <div class="article-content">
                        <div class="article-body">
                            <p>안녕하세요. Milestone입니다!</p>

                            <div class="article-content">
                                <div class="article-body">
                                    <p class="wysiwyg-text-align-left">내부 일정에 따라 고객센터 운영 시간을 아래와 같이
                                        조정합니다.</p>
                                    <p class="wysiwyg-text-align-left">회원님의 너그러운 양해를 부탁드리며, 서비스 이용에 참고해 주시기 바랍니다.
                                    </p>
                                    <p class="wysiwyg-text-align-center">&nbsp;</p>
                                    <h3 id="id-(작성중)_[공지]메시지기능이새로워집니다!-❚1.하나의화면에서모든기능을이용할수있습니다."><span
                                            class="wysiwyg-color-orange80"><strong>❚&nbsp;</strong></span><span
                                            class="wysiwyg-color-black"><strong>고객센터 운영시간</strong></span></h3>
                                    <p><span class="wysiwyg-color-black wysiwyg-font-size-large">　◾ 평일 10:30 ~
                                                18:00</span><span class="wysiwyg-color-black60">&nbsp;(점심시간 13:00 ~
                                                14:00)</span></p>
                                    <p class="wysiwyg-text-align-left">&nbsp;</p>
                                    <p class="wysiwyg-text-align-left"><span
                                            class="wysiwyg-color-orange80 wysiwyg-font-size-large"><strong>❚&nbsp;</strong></span><span
                                            class="wysiwyg-color-black"><span
                                            class="wysiwyg-font-size-large"><strong>고객센터 미
                                                        운영시간</strong></span></span></p>
                                    <p class="wysiwyg-text-align-left"><span class="wysiwyg-color-black"><span
                                            class="wysiwyg-font-size-large">　◾ 11월 2일(수) 10:30 ~
                                                    12:00</span></span></p>
                                    <p class="wysiwyg-text-align-left"><span class="wysiwyg-color-black"><span
                                            class="wysiwyg-font-size-large">　◾ 11월 4일(금) 14:00 ~
                                                    15:00</span></span></p>
                                    <p class="wysiwyg-text-align-left"><span class="wysiwyg-color-black"><span
                                            class="wysiwyg-font-size-large">　◾ 11월 9일(수) 14:00 ~
                                                    15:00</span></span></p>
                                    <p class="wysiwyg-text-align-left"><span class="wysiwyg-color-black"><span
                                            class="wysiwyg-font-size-large">　◾ 11월 23일(수) 14:00 ~
                                                    15:00</span></span></p>
                                    <p class="wysiwyg-text-align-left">&nbsp;</p>
                                    <p id="id-(작성중)_[공지]메시지기능이새로워집니다!-❚1.하나의화면에서모든기능을이용할수있습니다."><span
                                            class="wysiwyg-font-size-large"><span
                                            class="wysiwyg-color-orange80"><strong>❚&nbsp;</strong></span><span
                                            class="wysiwyg-color-black"><strong>고객센터 이용
                                                        안내</strong></span></span></p>
                                    <p><span class="wysiwyg-font-size-large">　◾&nbsp;</span>미 운영시간 내의 문의 사항은 채널을 통해
                                        접수해 주시면, 순차적으로
                                        답변해드리겠습니다.</p>
                                    <p>&nbsp;</p>
                                    <p class="wysiwyg-text-align-left">겨울에 한 발짝 다가서는 11월입니다.<br>한 계절을 보내며 수북이 쌓이는
                                        단풍처럼, 지난 일을 잘 마무리하고 행복한 일상을 쌓아가는 한 달이 되시기를 바랍니다.</p>
                                    <p class="wysiwyg-text-align-left">Milestone이 항상 응원하겠습니다.</p>
                                    <p class="wysiwyg-text-align-left">감사합니다.</p>
                                </div>
                                <div class="article-attachments">&nbsp;</div>
                            </div>
                        </div>

                        <div class="article-attachments" style="padding-bottom: 100px">
                            <ul class="attachments">

                            </ul>
                        </div>
                    </div>
                </section>
            </article>
        </div>
    </div>
</main>

<!-- =========================================================================================================== -->
<footer th:replace="/fix/footer.html :: footer"></footer>

<!-- ================================================================================================================ -->
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/fix/header.js"></script>
</html>