<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>notice</title>
</head>

<!-- ======================================헤더/푸터======================================== -->

<link href="/css/notice/notice.css" rel="stylesheet" />
<link rel="icon" href="/imgs/fix/favicon.png">

<link rel="stylesheet" href="/css/fix/header.css">
<link rel="stylesheet" href="/css/fix/footer.css">

<!-- ================================================================================================================ -->
<body>

<header th:replace="/fix/header.html :: header"></header>

<!-- ================================================================================================================ -->

<main role="main">
    <div class="container-divider"></div>
    <div class="container">

        <div class="category-container">
            <div class="category-content">
                <header class="page-header">
                    <h1>
                        <div class="page-title">공지사항</div>
                    </h1>

                </header>

                <div class="section-tree">

                    <section class="section" style="padding-top: 30px;">
                        <h3 class="section-tree-title">
                            <a href="">전체공지</a>
                        </h3>

                        <ul class="article-list">

                            <li class="article-list-item article-promoted">

                                <span data-title="승격된 문서" class="icon-star"></span>
                                <div>
                                    <img src="/imgs/notice/notice.png" alt="이미지" width="20px" height="20px"
                                         style=" margin-bottom :-3px; margin-right: -3px" />
                                    <a href="" class="article-list-link">&nbspMilestone 고객 센터 운영 시간 안내</a>
                                </div>

                            </li>

                            <li class="article-list-item article-promoted">

                                <span data-title="승격된 문서" class="icon-star"></span>
                                <div>
                                    <img src="/imgs/notice/notice.png" alt="이미지" width="20px" height="20px"
                                         style=" margin-bottom :-3px; margin-right: -3px" />
                                    <a href="" class="article-list-link">&nbspMilestone 개인 정보 처리 방침 개정 안내</a>
                                </div>
                            </li>

                            <li class="article-list-item article-promoted">

                                <span data-title="승격된 문서" class="icon-star"></span>
                                <div>
                                    <img src="/imgs/notice/notice.png" alt="이미지" width="20px" height="20px"
                                         style=" margin-bottom :-3px; margin-right: -3px" />
                                    <a href="" class="article-list-link">&nbspMilestone 페널티 정책 안내</a>
                                </div>
                            </li>

                            <li class="article-list-item article-promoted">

                                <span data-title="승격된 문서" class="icon-star"></span>
                                <div>
                                    <img src="/imgs/notice/notice.png" alt="이미지" width="20px" height="20px"
                                         style=" margin-bottom :-3px; margin-right: -3px" />
                                    <a href="" class="article-list-link">&nbspMilestone 서비스 이용약관 개정 안내</a>
                                </div>
                            </li>

                            <li class="article-list-item article-promoted">

                                <span data-title="승격된 문서" class="icon-star"></span>
                                <div>
                                    <img src="/imgs/notice/notice.png" alt="이미지" width="20px" height="20px"
                                         style=" margin-bottom :-3px; margin-right: -3px" />
                                    <a href="" class="article-list-link">&nbspMilestone을 사칭하는 메시지, 조심하세요!</a>
                                </div>
                            </li>

                            <li class="article-list-item">
                                <div>
                                    <img src="/imgs/notice/notice.png" alt="이미지" width="20px" height="20px"
                                         style=" margin-bottom :-3px; margin-right: -3px" />
                                    <a href="" class="article-list-link">&nbspMilestone 메시지 알림 보관 기간 변경됩니다.</a>
                                </div>
                            </li>

                        </ul>


                    </section>

                    <a tabindex="0" class="see-all-sections-trigger" aria-hidden="true"
                       id="see-all-sections-trigger" title="모든 섹션 보기…">모든 섹션 보기… </a>

                </div>
            </div>
        </div>
    </div>
</main>

<!-- ================================================================================================================ -->
<footer th:replace="/fix/footer.html :: footer"></footer>

<!-- ================================================================================================================ -->
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/fix/header.js"></script>

</html>