<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>notice4</title>
</head>

<!-- ===================================================================================================== -->

<link href="/css/notice/notices.css" rel="stylesheet" />
<link rel="icon" href="/imgs/fix/favicon.png">

<link rel="stylesheet" href="/css/fix/header.css">
<link rel="stylesheet" href="/css/fix/footer.css">

<!-- ================================================================================================================ -->
<body>

<header th:replace="/fix/header.html :: header"></header>

<!-- ================================================================================================================ -->


<main role="main" style="padding-top:100px">
    <div class="container-divider" style="border-top : none;"></div>
    <div class="container">

        <div class="article-container" id="article-container">
            <section class="article-sidebar">

                <section class="section-articles collapsible-sidebar">
                    <h3 class="collapsible-sidebar-title sidenav-title" style="padding-left:10px;">이 섹션의 문서</h3>
                    <ul>

                        <li>
                            <a href=""
                               class="sidenav-item ">
                                <p class="sidenav-item-text">Milestone 고객 센터 운영 시간 안내</p>
                            </a>
                        </li>

                        <li>
                            <a href=""
                               class="sidenav-item ">
                                <p class="sidenav-item-text">Milestone 개인 정보 처리 방침 개정 안내</p>
                            </a>
                        </li>

                        <li>
                            <a href=""
                               class="sidenav-item ">
                                <p class="sidenav-item-text">Milestone 페널티 정책 안내</p>
                            </a>
                        </li>

                        <li>
                            <a href=""
                               class="sidenav-item" style="background-color: #F2F3F7;
                                    color: #333333;
                                    font-weight: 400;
                                    text-decoration: none;">
                                <p class="sidenav-item-text">Milestone 서비스 이용약관 개정 안내</p>
                            </a>
                        </li>

                        <li>
                            <a href=""
                               class="sidenav-item ">
                                <p class="sidenav-item-text">Milestone을 사칭하는 메시지, 조심하세요!</p>
                            </a>
                        </li>

                        <li>
                            <a href=""
                               class="sidenav-item ">
                                <p class="sidenav-item-text">Milestone 메시지 알림 보관 기간 변경됩니다.</p>
                            </a>
                        </li>

                    </ul>

                </section>

            </section>

            <article class="article">
                <header class="article-header">
                    <h1 title="서비스 이용약관 개정 안내 (2021.06.01)" class="article-title">
                        서비스 이용약관 개정 안내

                    </h1>

                </header>

                <section class="article-info">
                    <div class="article-content">
                        <div class="article-body">
                            <p class="wysiwyg-text-align-center"><span class="se_ff_nanumbarungothic">안녕하세요,
                                        Milestone입니다.</span><span class="se_ff_nanumbarungothic"><br></span><span
                                    class="se_ff_nanumbarungothic"><br></span><span
                                    class="se_ff_nanumbarungothic">Milestone을 이용해주시는 회원님들께 감사드리며,<br></span><span
                                    class="se_ff_nanumbarungothic">서비스 이용약관이 아래와 같이 개정될 예정임을 사전 안내해
                                        드립니다.<br></span><span class="se_ff_nanumbarungothic"><br></span>자세한 정보는 하단에
                                기재해드린 내용을 참고해주시기 바랍니다.</p>
                            <div class="stb-container-full">
                                <h3 id="id-(작성중)_[공지]메시지기능이새로워집니다!-❚1.하나의화면에서모든기능을이용할수있습니다."><span
                                        class="wysiwyg-color-orange80"><strong>❚ </strong></span><span
                                        class="wysiwyg-color-black"><strong>공지 일자</strong></span></h3>
                                <p class="wysiwyg-text-align-left"><strong><span
                                        class="se_ff_nanumbarungothic wysiwyg-font-size-large">　◾ 2021년 4월 30일
                                                (금)</span></strong></p>
                                <p class="wysiwyg-text-align-left">&nbsp;</p>
                                <h3 id="id-(작성중)_[공지]메시지기능이새로워집니다!-❚1.하나의화면에서모든기능을이용할수있습니다."><span
                                        class="wysiwyg-color-orange80"><strong>❚ </strong></span><span
                                        class="wysiwyg-color-black"><strong>시행 일자</strong></span></h3>
                                <p class="wysiwyg-text-align-left"><span
                                        class="se_ff_nanumbarungothic">　<strong><span
                                        class="wysiwyg-font-size-large">◾ 2021년 6월 1일
                                                    (화)</span></strong></span></p>
                                <p class="wysiwyg-text-align-left">&nbsp;</p>
                                <h3 id="id-(작성중)_[공지]메시지기능이새로워집니다!-❚1.하나의화면에서모든기능을이용할수있습니다."><span
                                        class="wysiwyg-color-orange80"><strong>❚ </strong></span><span
                                        class="wysiwyg-color-black"><strong>개정 항목 </strong></span></h3>
                                <p><span class="wysiwyg-color-black">※ 개정 내용은 개정 약관 본문(*하단 첨부자료)에 밑줄 표기하였습니다.</span>
                                </p>
                                <table style="height: 1410px; width: 726px;" border="2">
                                    <tbody>
                                    <tr style="height: 22px;">
                                        <td class="wysiwyg-text-align-center"
                                            style="width: 278.8px; height: 22px;"><span
                                                class="wysiwyg-font-size-large"><strong>관련 조항</strong></span>
                                        </td>
                                        <td class="wysiwyg-text-align-center"
                                            style="width: 424.4px; height: 22px;"><span
                                                class="wysiwyg-font-size-large"><strong>개정 내용</strong></span>
                                        </td>
                                    </tr>
                                    <tr style="height: 22px;">
                                        <td style="width: 278.8px; height: 22px;">
                                            <p><strong>&nbsp;제1조 (목적)</strong></p>
                                        </td>
                                        <td style="width: 424.4px; height: 22px;">
                                            <p>&nbsp;- 일부 내용을 변경하였습니다.</p>
                                        </td>
                                    </tr>
                                    <tr style="height: 22px;">
                                        <td style="width: 278.8px; height: 22px;">
                                            <p><strong>&nbsp;제2조 (약관의 명시, 효력 및 변경)</strong></p>
                                        </td>
                                        <td style="width: 424.4px; height: 22px;">
                                            <p>&nbsp;- 내용을 추가하고 '나'항의 내용을 변경하였습니다.</p>
                                        </td>
                                    </tr>
                                    <tr style="height: 22px;">
                                        <td style="width: 278.8px; height: 22px;">
                                            <p><strong>&nbsp;제3조 (관련 법령과의 관계)</strong></p>
                                        </td>
                                        <td style="width: 424.4px; height: 22px;">
                                            <p>&nbsp;- 구약관 '가, 나, 다'항은 신설된 신약관 '제3조 1'을 신설하여 이동하고, 일부 내용을
                                                변경하였습니다.</p>
                                            <p>&nbsp;- '가,나'항의 내용을 신설하였습니다.</p>
                                        </td>
                                    </tr>
                                    <tr style="height: 73px;">
                                        <td style="width: 278.8px; height: 73px;">
                                            <p><strong>&nbsp;제5조 (용어의 정의)</strong></p>
                                        </td>
                                        <td style="width: 424.4px; height: 73px;">
                                            <p>&nbsp;- '가'항의 6),12),14),15),16)의 내용을 일부 변경하였으며
                                                17),23),24),25),26),27)을 신설하였습니다.</p>
                                            <p>&nbsp;- '나'항의 내용을 일부 변경하였습니다.</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 278.8px;">
                                            <p><strong>&nbsp;제8조 (이용신청)</strong></p>
                                        </td>
                                        <td style="width: 424.4px;">
                                            <p>&nbsp;- '가'항의 내용을 변경하고, 구약관 '가'항 3)은 신약관 제5조 6)으로 통합하였습니다.&nbsp;
                                            </p>
                                            <p>&nbsp;- '나,라'항을 신설하고, 구약관 '다'항을 신약관 '마'항으로
                                                조정하였습니다.&nbsp;<br>&nbsp;- 구약관 '라'항은 신약관 제12조 '라'항으로
                                                이동하였습니다.&nbsp;&nbsp;</p>
                                        </td>
                                    </tr>
                                    <tr style="height: 22px;">
                                        <td style="width: 278.8px; height: 17px;">
                                            <p><strong>&nbsp;제11조 (회원정보의 수집과 보호)</strong></p>
                                        </td>
                                        <td style="width: 424.4px; height: 17px;">
                                            <p>&nbsp;- '다'항의 내용을 변경하고, 구약관 '아'항 ②와 '차'항을 신약관 '차'항과 '카'항으로
                                                조정하였습니다.&nbsp;&nbsp;</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 278.8px;">
                                            <p><strong>&nbsp;제12조 (회원정보의 활용과 관리 의무)</strong></p>
                                        </td>
                                        <td style="width: 424.4px;">
                                            <p>&nbsp;- 조항명을 변경하였습니다.</p>
                                            <p>&nbsp;- '나'항 내용을 변경하고, 구약관 '나'항의 내용을 분리하여 신약관 '다'항으로
                                                이동하였습니다.&nbsp;</p>
                                            <p>&nbsp;- '라'항을 신설하였습니다.&nbsp;&nbsp;</p>
                                        </td>
                                    </tr>
                                    <tr style="height: 22px;">
                                        <td style="width: 278.8px; height: 22px;">
                                            <p><strong>&nbsp;제15조 (중개서비스 이용정지, 이용제한)</strong></p>
                                        </td>
                                        <td style="width: 424.4px; height: 22px;">
                                            <p>&nbsp;- '나'항의 일부 내용을 변경하였습니다.</p>
                                        </td>
                                    </tr>
                                    <tr style="height: 22px;">
                                        <td style="width: 278.8px; height: 22px;">
                                            <p><strong>&nbsp;제16조 (대리 및 보증의 부인)</strong></p>
                                        </td>
                                        <td style="width: 424.4px; height: 22px;">
                                            <p>&nbsp;- '나,다'항의 일부 내용을 변경하였습니다.</p>
                                        </td>
                                    </tr>
                                    <tr style="height: 22px;">
                                        <td style="width: 278.8px; height: 22px;">
                                            <p><strong>&nbsp;제17조 (크몽안전결제)</strong></p>
                                        </td>
                                        <td style="width: 424.4px; height: 22px;">
                                            <p>&nbsp;- 구약관 '가'항을 신약관 '가,나'항으로 분리하고, 구약관 '나,아'항을 신약관 '사'항으로
                                                통합하였습니다.&nbsp;</p>
                                            <p>&nbsp;- 기존 '가,나,다,라,마,바,사,아'항의 순서를 조정하였습니다.&nbsp;<br>&nbsp;- 모든
                                                조항에서 일부 내용을 변경하였습니다.&nbsp;&nbsp;</p>
                                        </td>
                                    </tr>
                                    <tr style="height: 208px;">
                                        <td style="width: 278.8px; height: 208px;">
                                            <p><strong>&nbsp;제20조 (판매 서비스의 등록)</strong></p>
                                        </td>
                                        <td style="width: 424.4px; height: 208px;">
                                            <p>&nbsp;- 구약관 '나'항 1)을 신약관 '나'항 1),2)로 분리하고 3)을 신설하였습니다.&nbsp;</p>
                                            <p>&nbsp;- '나'항 ①을 삭제하였습니다.&nbsp;<br>&nbsp;- 구약관 '나'항 ②를 신약관 '나'항
                                                1),2)로 분리하였습니다.&nbsp;<br>&nbsp;- '나'항 2),8) 및 3)의 하위 내용을
                                                변경하였습니다.&nbsp;<br>&nbsp;- 구약관 '나'항 2),3),4),5)은 신약관 '나'항
                                                4),5),6),7)로 변경하였습니다.&nbsp;<br>&nbsp;- 구약관 '나'항 5)의 일부 내용은 신약관
                                                제20조 '마'항으로 통합하였습니다.&nbsp;</p>
                                        </td>
                                    </tr>
                                    <tr style="height: 141px;">
                                        <td style="width: 278.8px; height: 141px;">
                                            <p><strong>&nbsp;제21조 (매매 부적합 서비스)</strong></p>
                                        </td>
                                        <td style="width: 424.4px; height: 141px;">
                                            <p>&nbsp;- '가,나'항을 삭제하고, 일부 내용을 신설된 '가'항으로 통합하였습니다.</p>
                                            <p>&nbsp;- 구약관 '라'항을 신약관 '나'항으로 변경하였습니다.<br>&nbsp;- 구약관 '마,바,사,아'항은
                                                신약관 '다,라,마,바'항으로 변경하였습니다.<br>&nbsp;- '가,다,라'항의 일부 내용을 수정하였습니다.
                                            </p>
                                        </td>
                                    </tr>
                                    <tr style="height: 22px;">
                                        <td style="width: 278.8px; height: 22px;">
                                            <p><strong>&nbsp;제23조의 1 (의뢰인의 결제)</strong></p>
                                        </td>
                                        <td style="width: 424.4px; height: 22px;">
                                            <div>&nbsp;- '가'항의 일부 내용을 수정하였습니다.</div>
                                        </td>
                                    </tr>
                                    <tr style="height: 22px;">
                                        <td style="width: 278.8px; height: 22px;">
                                            <p><strong>&nbsp;제24조 (발송)</strong></p>
                                        </td>
                                        <td style="width: 424.4px; height: 22px;">
                                            <div>&nbsp;- 제24조(발송) 구약관 '다,라,마,바,사'항은 신약관 '나,다,라,마,바'항으로
                                                변경하였습니다.&nbsp;</div>
                                            <div>&nbsp;- 제24조(발송) '다'항의 내용을 변경하였습니다.&nbsp;</div>
                                        </td>
                                    </tr>
                                    <tr style="height: 74px;">
                                        <td style="width: 278.8px; height: 74px;">
                                            <p><strong>&nbsp;제25조의 1 (회원 등급 및 평가제도)&nbsp;</strong></p>
                                        </td>
                                        <td style="width: 424.4px; height: 74px;">
                                            <p>&nbsp;- 구약관 '가,나,다,라,마,바,아'항을 신약관 '가,나'항으로 분리하면서 일부 내용을
                                                변경하였습니다.&nbsp;</p>
                                            <p>&nbsp;- 구약관 '사'항을 신약관 '다'항으로 조정하였습니다.&nbsp;</p>
                                        </td>
                                    </tr>
                                    <tr style="height: 118px;">
                                        <td style="width: 278.8px; height: 118px;">
                                            <p><strong>&nbsp;제26조 (수정, 문제 해결, 취소, 반품 및 교환)</strong></p>
                                        </td>
                                        <td style="width: 424.4px; height: 118px;">
                                            <p>&nbsp;- 조항명을 변경하였습니다.</p>
                                            <p>&nbsp;- 구약관 '가,라,마,바'항의 내용을 신약관 '가'항으로
                                                통합하였습니다.&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;- '나,다'항의 항목명과 내용을
                                                변경하였습니다.&nbsp;<br>&nbsp;- 구약관 '다,사,아'항은 신약관 '라'항으로 통합하였습니다.</p>
                                        </td>
                                    </tr>
                                    <tr style="height: 22px;">
                                        <td style="width: 278.8px; height: 22px;">
                                            <p><strong>&nbsp;제27조 (예치금)</strong></p>
                                        </td>
                                        <td style="width: 424.4px; height: 22px;">
                                            <p>&nbsp;- 구약관 '가,나,라'항을 삭제하였습니다. 구약관 '다'항은 신약관 제28조 '나'항으로 변경하였습니다.
                                            </p>
                                        </td>
                                    </tr>
                                    <tr style="height: 163px;">
                                        <td style="width: 278.8px; height: 163px;">
                                            <p><strong>&nbsp;제28조 (크몽캐시, 전문가 마일리지 및 쿠폰)</strong></p>
                                        </td>
                                        <td style="width: 424.4px; height: 163px;">
                                            <p>&nbsp;- 조항명을 변경하였습니다.</p>
                                            <p>&nbsp;- 구약관 '가'항을 신약관 '가,나,다,라'항으로 분리하고 일부 내용을
                                                변경하였습니다.&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;- 구약관 '나'항을 신약관
                                                '마,바,사'항으로 분리하고 일부 내용을 변경하였습니다.<br>&nbsp;- 구약관 '다'항을 신약관
                                                '아,자,차'항으로 분리하고 일부 내용을 변경하였습니다.</p>
                                        </td>
                                    </tr>
                                    <tr style="height: 22px;">
                                        <td style="width: 278.8px; height: 22px;">
                                            <p><strong>&nbsp;제29조 (서비스 이용료)</strong></p>
                                        </td>
                                        <td style="width: 424.4px; height: 22px;">
                                            <p>&nbsp;- 일부 내용을 변경하였습니다.</p>
                                        </td>
                                    </tr>
                                    <tr style="height: 22px;">
                                        <td style="width: 278.8px; height: 22px;">
                                            <p><strong>&nbsp;제6장</strong></p>
                                        </td>
                                        <td style="width: 424.4px; height: 22px;">
                                            <p>&nbsp;- 제6장의 제목을 변경하였습니다.<br>&nbsp;| 손해배상, 면책조항 등 ≫ 권리관계·손해배상 및
                                                면책조항 등</p>
                                        </td>
                                    </tr>
                                    <tr style="height: 103px;">
                                        <td style="width: 278.8px; height: 103px;">
                                            <p><strong>&nbsp;제31조 (게시물에 대한 권리 관계)</strong></p>
                                        </td>
                                        <td style="width: 424.4px; height: 103px;">
                                            <p>&nbsp;- 조항명을 변경하였습니다.</p>
                                            <p>&nbsp;- '나'항의 일부 내용을 변경하였습니다.</p>
                                            <p>&nbsp;- 구약관 '가,나'항은 신약관 제33조로 이동하고, '가,나,다,라'항을
                                                신설하였습니다.&nbsp;&nbsp;&nbsp;</p>
                                        </td>
                                    </tr>
                                    <tr style="height: 51px;">
                                        <td style="width: 278.8px; height: 51px;">
                                            <p><strong>&nbsp;제32조 (서비스에 대한 권리 관계)</strong></p>
                                        </td>
                                        <td style="width: 424.4px; height: 51px;">
                                            <p>&nbsp;- 구약관 제32조는 신약관 제34조로 이동하였습니다.</p>
                                            <p>&nbsp;- 조항명을 변경하고 모든 내용을 신설하였습니다.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            </p>
                                        </td>
                                    </tr>
                                    <tr style="height: 22px;">
                                        <td style="width: 278.8px; height: 22px;">
                                            <p><strong>&nbsp;제33조 (손해배상)</strong></p>
                                        </td>
                                        <td style="width: 424.4px; height: 22px;">
                                            <p>&nbsp;- 구약관 제31조가 이동하였습니다.</p>
                                        </td>
                                    </tr>
                                    <tr style="height: 22px;">
                                        <td style="width: 278.8px; height: 22px;">
                                            <p><strong>&nbsp;제34조 (회사의 면책)</strong></p>
                                        </td>
                                        <td style="width: 424.4px; height: 22px;">
                                            <div>&nbsp;- 구약관 제32조가 이동하였습니다.</div>
                                            <div>&nbsp;- '가-1'항의 일부 내용을 변경하였습니다.</div>
                                            <div>&nbsp;- 준수사항을 삭제하였습니다.</div>
                                            <div>&nbsp;- 추가조항은 신약관 '라'항으로 변경하였습니다.</div>
                                        </td>
                                    </tr>
                                    <tr style="height: 22px;">
                                        <td style="width: 278.8px; height: 22px;">
                                            <p><strong>&nbsp;제35조 (준거법 및 관할법원)</strong></p>
                                        </td>
                                        <td style="width: 424.4px; height: 22px;">
                                            <p>&nbsp;- 구약관 제33조가 이동하였습니다.</p>
                                        </td>
                                    </tr>
                                    <tr style="height: 44px;">
                                        <td style="width: 278.8px; height: 44px;">
                                            <p><strong>&nbsp;36조 (기타 조항)</strong></p>
                                        </td>
                                        <td style="width: 424.4px; height: 44px;">
                                            <p>&nbsp;- 구약관 제34조가 이동하였습니다.<br>&nbsp;- 일부 내용을 변경하였습니다.</p>
                                        </td>
                                    </tr>
                                    <tr style="height: 22px;">
                                        <td style="width: 278.8px; height: 22px;">
                                            <p><strong>&nbsp;서비스 이용약관 전문</strong></p>
                                        </td>
                                        <td style="width: 424.4px; height: 22px;">
                                            <div>&nbsp;- 약관 전문에 사용된 일부 용어를 변경하였습니다.<br>&nbsp;| 크몽안전결제서비스 ≫
                                                크몽안전결제</div>
                                            <div>&nbsp;| 판매 수수료 ≫ 서비스 이용료<br>&nbsp;| 외부거래 ≫ 직접 결제</div>
                                            <div>&nbsp;| 상위노출 광고 ≫ 광고</div>
                                            <div>&nbsp;| 무통장입금 ≫ 가상계좌(무통장입금)</div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <p class="wysiwyg-text-align-center">&nbsp;</p>
                                <h3 id="id-(작성중)_[공지]메시지기능이새로워집니다!-❚1.하나의화면에서모든기능을이용할수있습니다."><span
                                        class="wysiwyg-color-orange80"><strong>❚ </strong></span><span
                                        class="wysiwyg-color-black"><strong>이의제기 및 관련 문의</strong></span>&nbsp;</h3>
                                <p class="wysiwyg-text-align-left"><span
                                        class="se_ff_nanumbarungothic se_fs_T4"><span
                                        class="se_ff_nanumbarungothic">◾ </span>개정된 서비스 이용약관은</span><span
                                        class="se_ff_nanumbarungothic se_fs_T4"> 2021년 6월 1일부터 효력이 발생하며,
                                        </span><span class="se_ff_nanumbarungothic se_fs_T4">이에 동의하지 않는
                                            경우에는&nbsp;</span><span class="se_ff_nanumbarungothic se_fs_T4">회원 탈퇴를 요청할 수
                                            있습니다.<br></span><span class="se_ff_nanumbarungothic se_fs_T4"><span
                                        class="se_ff_nanumbarungothic">◾ </span>개정 내용에 대한 이의 제기 및 문의는 1544-6254
                                            또는 하단의 [문의하기]를 통해 접수해 주시기 바랍니다.</span></p>
                                <p class="wysiwyg-text-align-center">&nbsp;</p>
                                <p class="wysiwyg-text-align-center">&nbsp;</p>
                                <p class="wysiwyg-text-align-center">크몽은 더 나은 서비스 제공을 위해 항상 최선을
                                    다하겠습니다.&nbsp;<br>앞으로도 지속적인 서비스 이용과 관심을 부탁드립니다.</p>
                                <p class="wysiwyg-text-align-center"><br>감사합니다.</p>
                            </div>
                        </div>

                        <div class="article-attachments">
                            <ul class="attachments">

                            </ul>
                        </div>
                    </div>
                </section>
            </article>
        </div>
    </div>

</main>

<!-- =========================================================================================================== -->
<footer th:replace="/fix/footer.html :: footer"></footer>

<!-- ================================================================================================================ -->
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/fix/header.js"></script>
</html>