<!--황지수-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>보육원 | 결제</title>
    <link rel="stylesheet" type="text/css"
          href="//p25.zdassets.com/hc/theming_assets/9204604/360002309011/style.css?digest=12256508972825">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>

<link href="/css/school/schoolDonation.css" rel="stylesheet"/>

<link rel="stylesheet" href="/css/fix/header.css">
<link rel="stylesheet" href="/css/fix/footer.css">
<link rel="stylesheet" href="/css/fix/menu.css"/>
<link rel="icon" href="/imgs/fix/favicon.png">

<body>
<header th:replace="/fix/header.html :: header"></header>

<div class="wholePage">

    <div class="title">결제하기</div>

    <div class="wrapper">
        <div class="long">
            <section class="leftFirst">
                <div style="width:736px; height: 100%">
                    <h3 id="miniTitle">기부내역</h3>
                    <div class="secWrapper">
                        <div class="schoolImg" th:object="${schoolImgs}">
                            <img th:if="${schoolImgs.size == 0}" data-type="1-1" width="275" height="100%"
                                 src="/imgs/school/defaultSchoolImg.png">
                            <img th:if="${schoolImgs.size > 0}" data-type="1-1" width="275" height="100%"
                                 th:src="'/file/display?fileName='+ *{get(0).filePath} + '/' + *{get(0).fileUuid} + '_' + *{get(0).fileName}">
                        </div>
                        <div class="schoolInfo">
                            <input type="hidden" id="userId" th:value="${schoolDTO.userId}">
                            <h4 id="schoolName"></h4>
                            <h5 class="schoolAddress">
                                <span class="schoolAddress"></span>
                                <!-- <br> -->
                                <span class="schoolAddress schoolAddressDetail"></span>
                            </h5>
                            <div style="margin-left:10px">
                                <div>
                                    <ul>
                                        <li>∙ 연 예산 : <span id="budget"></span>&nbsp;원</li>
                                        <li>∙ 계좌번호 : <span id="accountNum"></span>&nbsp;<span id="bank"></span>
                                        </li>
                                        <li>∙ 교사 인원 : <span id="teacher"></span>&nbsp;명</li>
                                        <li>∙ 아이들 인원 : <span id="children"></span>&nbsp;명</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>

        <div class="rightLong">
            <div class="innerRight">
                <h5 class="innrRightIn">
                    <span>총 기부 금액</span>
                    <span class="pay"></span>
                </h5>
                <h5 class="innrRightIn" style = "margin: 0">
                    <form th:action="@{/school/payment}" method="post" name="paymentForm" onsubmit="return false">
                        <span>
                            <input type="text" name="moneyCash" class="amountInput" id="amountInputMoney"
                                   placeholder="기부하실 금액을 입력하세요">
                        </span>
                        <span class="cash">원</span>
                    </form>

                </h5>
                <div class="guideMsg" style="display: none">
                    기부금액을 입력해 주세요.
                </div>
                <div id="justBorder"></div>
                <h5 class="innrRightIn">
                    <span>총 결제금액</span>
                    <div>
                        <span class="totalAmount" id="totalAmountMoney"></span>&nbsp;&nbsp;원
                    </div>
                </h5>
                <div class="checkOk">
                    <div style="display: flex; flex-direction: column">
                        <div style="display: flex;">
                            <input type="checkbox" class="agreePayment">
                            <div id="checkOk2">
                                주문 내용을 확인하였으며, 결제에 동의합니다. (필수)
                            </div>
                        </div>
                        <div class="guideMsg" style="display: none">
                            결제에 동의해 주세요.
                        </div>
                    </div>
                </div>
                <div>
                    <button class="orderButton"><span id="payButton" style="font-weight:bolder;">결제하기</span></button>
                </div>
                <p class="endMent">결제하기 버튼을 누르시면 보육원에게 기부금이 전달됩니다.</p>
            </div>
        </div>

    </div>

</div>

<footer th:replace="/fix/footer.html :: footer"></footer>
</body>
<script src="https://js.bootpay.co.kr/bootpay-4.2.6.min.js" type="application/javascript"></script>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/school/schoolDonation.js"></script>
<script src="/js/fix/header.js"></script>
<script>

</script>
<script th:inline="javascript">
    // 보육원 정보
    function schoolInfo(schoolDTO) {
        $('#schoolName').html(schoolDTO.schoolName)
        $('.schoolAddress').html(schoolDTO.schoolAddress)
        $('.schoolAddressDetail').html(schoolDTO.schoolAddressDetail)
        $('#budget').html(schoolDTO.schoolBudget.toLocaleString('ko-KR'))
        $('#accountNum').html(schoolDTO.schoolAccount)
        $('#bank').html(schoolDTO.schoolBank)
        $('#teacher').html(schoolDTO.schoolTeachers.toLocaleString('ko-KR'))
        $('#children').html(schoolDTO.schoolKids.toLocaleString('ko-KR'))
        $('.schoolImg').children().attr("src", `/file/display?fileName=` + schoolDTO.files[0].filePath + `/` + schoolDTO.files[0].fileUuid + `_` + schoolDTO.files[0].fileName)
    }

    getSchoolInfo($('#userId').val(), schoolInfo)

    //===================결제+===================
    const $orderButton = $('.orderButton');

    $orderButton.on('click', function () {
        let paymentFlag;
        let $amountInputMoney = $('#amountInputMoney');
        if($amountInputMoney.val() <= 0 && !$amountInputMoney.val()){
            $amountInputMoney.closest('h5').next().show();
            paymentFlag = false;
        }else{
            $amountInputMoney.closest('h5').next().hide();
            paymentFlag = true;
        }
        if(!$('.agreePayment').is(":checked")){
            $('.agreePayment').parent().next().show();
            paymentFlag = false;
        }else{
            $('.agreePayment').parent().next().hide();
            paymentFlag = true;
        }

        if (paymentFlag) {
            payment();
        }
    })

    // 부트페이 결제 api
    async function payment() {
        let moneyCash = $('#amountInputMoney').val().replace(/,/gi,"")
        const response = await Bootpay.requestPayment({
            "application_id": "6390c5f2d01c7e001ffeb8a2",
            "price": moneyCash,
            "order_name": $('#schoolName').text() + " 기부금",
            "order_id": "TEST_ORDER_ID",
            "pg": "케이씨피",
            "method": "카드",
            "tax_free": 0,
            "user": {
                "id": "회원아이디",
                "username": "회원이름",
                "phone": "01000000000",
            },
            "items": [
                {
                    "id": "item_id",
                    "name": "테스트아이템",
                    "qty": 1,
                    "price": moneyCash
                }
            ],
            "extra": {
                "open_type": "iframe",
                "card_quota": "0,2,3",
                "escrow": false
                // "display_success_result": true,
                // "display_error_result": true
            }

        })
        switch (response.event) {
            case 'done':
                // 결제 완료 처리
                giveMoneyCash({
                    moneyCash: response.data.price,
                    userId: $('#userId').val()
                });
                break
        }

    }


</script>
</html>