<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/fix/header.css">
    <link rel="stylesheet" href="/css/fix/footer.css">
    <link rel="stylesheet" href="/css/find/public.css">
    <link rel="stylesheet" href="/css/find/find.css">
    <link rel="icon" href="/imgs/fix/favicon.png">
    <title>마일스톤 | 아이디/비밀번호 찾기</title>
</head>
<body>
<header th:replace="/fix/header.html :: header"></header>
<!-- 모달 -->
<div class="modalWrap">
    <div class="modalScope flexCol">
        <div class="modalHead flexCol flexPublic">
            <div class="exclamationMark relative">
                <div class="modalIcon">┼</div>
            </div>
            <div class="exclamationMarkSuccess">
                <div class="flexPublic height-100">
                    <div class="modalIconSuccess"></div>
                </div>
            </div>
            <h2 class="modalContent">비밀번호 재설정</h2>
        </div>
        <div class="modalFooter">
            <div class="detailMsg">확인 항목이 일치 하지 않습니다.</div>
        </div>
    </div>
</div>
<!--메인-->
<main class="mainWrapWrap">
    <div class="mainWrap flexCol">
        <h2>비밀번호 변경</h2>
        <div class="margin-top-15 margin-bottom-24 flexCol">
            <div class="itemBox flexCol">
                <div class="itemTitle">비밀번호 변경</div>
                <div class="itemBody">
                    <form action="">
                        <input type="password" placeholder="새 비밀번호" class="inputCos margin-bottom-5">
                        <input type="password" placeholder="비밀번호 확인" class="inputCos margin-bottom-5"> <!--required-->
                        <button type="button" class="submitBtn">비밀번호 변경</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="/fix/footer.html :: footer"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/fix/header.js"></script>
<script src="/js/find/password.js"></script>
</html>