<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>talent</title>
</head>
<!-- ================================================================================================================ -->
<link rel="stylesheet" href="/css/myPage/myPageMain.css">
<link rel="stylesheet" href="/css/myPage/myPageInfo.css">
<link rel="stylesheet" href="/css/myPage/myPageAside.css">
<link rel="stylesheet" href="/css/myPage/public.css">
<!-- ================================================================================================================ -->
<link rel="stylesheet" href="/css/talent/talent.css">
<link rel="stylesheet" href="/css/fix/menu.css"/>
<link rel="icon" href="/imgs/fix/favicon.png">
<!-- ================================================================================================================ -->
<link rel="stylesheet" href="/css/fix/header.css">
<link rel="stylesheet" href="/css/fix/footer.css">
<!-- ================================================================================================================ -->
<body>
<!-- ================================================================================================================ -->
<header th:replace="/fix/header.html :: header"></header>
<!-- ================================================================================================================ -->
<div class="wholePage" style="padding-bottom: 100px" ;>
    <div class="main" style="position: relative;">

        <div style="display: flex; justify-content: space-between; ">
            <div data-aos="fade-right">
                <h3 style="font-size: 28px; margin-bottom: 20px; cursor:default;">여러분의 재능을 나눠주세요.</h3>
            </div>
            <div style="padding-top: 20px" id="pencil">
                <div class="talentButton" id="talentButton123" style="display: none">

                    <span class="talentButton1">글 작성하기</span>

                </div>
            </div>
        </div>


        <div class="talentChoice">

            <div class="talentChoicebar">

                <div class="all" id="showAll">
                    <div class="cateAll">전체</div>
                </div>

                <div class="education" id="education">
                    <div class="cateEdu">교육</div>
                </div>

                <div class="exercise" id="exercise">
                    <div class="cateExe">운동</div>
                </div>

                <div class="music" id="music">
                    <div class="cateMus">음악</div>
                </div>

                <div class="art" id="art">
                    <div class="cateArt">미술</div>
                </div>

                <div class="program" id="program">
                    <div class="cateIt">IT</div>
                </div>

                <div id="pseudo"></div>
            </div>

            <!-- ================================================================================= -->

            <!-- =================================선택한 지역=======================================-->
            <div class="beforeSelectLocations" style="display: none">
                <th:block th:each="talentPlace : ${talentPlaces}">
                    <div class="beforeLocation" th:text="*{talentPlace}"></div>
                </th:block>
                <div class="beforeName" th:text="${talentTitle}"></div>
            </div>

            <!-- 검색창 -->
            <form th:action="@{/talent/talent}" name="talentForm" onsubmit="return false">

                <div style="display: flex;">
                    <div class="searchBox realSearhBox">

                        <input type="hidden" name="talentName">

                        <input type="text" name="talentName" id="talentName" placeholder=" &nbsp;제목을 검색하세요" value=""
                               style="border: solid white;">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true"
                             style="cursor:pointer"
                             focusable="false" preserveAspectRatio="xMidYMid meet" class="css-7kp13n e181xm9y0">
                            <path xmlns="http://www.w3.org/2000/svg"
                                  d="M11.2307008,3.5 C15.5002489,3.5 18.9614015,6.96828437 18.9614015,11.24663 C18.9614015,13.0978372 18.3133954,14.7973826 17.2322825,16.1299241 L20.2742127,19.178378 C20.5762688,19.4810023 20.5764739,19.9714482 20.2746708,20.2738195 C19.9728678,20.5761908 19.4833433,20.5759857 19.1812873,20.2733614 L19.1812873,20.2733614 L16.1426973,17.2288066 C14.8071694,18.3312107 13.0960911,18.9932599 11.2307008,18.9932599 C6.96115262,18.9932599 3.5,15.5249756 3.5,11.24663 C3.5,6.96828437 6.96115262,3.5 11.2307008,3.5 Z M11.2307008,5.04932599 C7.81506225,5.04932599 5.04614015,7.82395349 5.04614015,11.24663 C5.04614015,14.6693064 7.81506225,17.4439339 11.2307008,17.4439339 C14.6463393,17.4439339 17.4152614,14.6693064 17.4152614,11.24663 C17.4152614,7.82395349 14.6463393,5.04932599 11.2307008,5.04932599 Z">
                            </path>
                        </svg>
                    </div>
                    <!-- ============================================================================================== -->

                    <section class="loc centerContent" style="padding-left:10px">
                        <div class="dropdown" style="justify-content: flex-end; position: relative;">
                            <button class="dropbtn" type="button">
                                <span class="dropbtn_content placeholder">전체</span>
                                <span class="awdasws" style=" font-size : 16px; color : #3b3b3b; float:right;">
                                <svg width="16" height="16" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true"
                                     focusable="false" preserveAspectRatio="xMidYMid meet" class="qwdqwd e181xm9y0">
                                    <polygon id="Triangle"
                                             transform="translate(12.000000, 12.000000) rotate(-180.000000) translate(-12.000000, -12.000000) "
                                             points="12 9 18 15 6 15"></polygon></svg>
                            </span>
                            </button>
                            <div class="dropdown-content" style="position: absolute;top: 40px;">
                                <div class="dropLoc checkSeoul">서울</div>
                                <div class="dropLoc checkKyungki">경기도</div>
                                <div class="dropLoc checkKangwon">강원도</div>
                                <div class="dropLoc checkChungcheong">충청도</div>
                                <div class="dropLoc checkJeolla">전라도</div>
                                <div class="dropLoc checkGyeong">경상도</div>
                                <div class="dropLoc checkJeju">제주도</div>
                            </div>
                        </div>
                    </section>

                    <!-- ===================================================================================== -->
                </div>
            </form>

        </div>

    </div>

    <!--==========================================재능 기부 목록===========================================-->
    <div class="AllTalentBox" style=" display: flex; justify-content: center">
        <div class="talentBoxAll" id="all" style="display: flex; justify-content: space-between;">
        </div>
    </div>

    <input type="hidden" th:value="${session.type}" id="sessionId">

    <!-- ============================================================================================= -->


    <!-- 페이지 버튼 전체 -->
    <div class="paging-number-box">
        <div class="paging-number">
            <div class="paging-number-flex">
            </div>
        </div>
    </div>


</div>
<!--=========================================================================================================-->
<!-- 글작성 클릭시 모달 -->

<div class="modalWrap">
    <div class="modalScope flexCol">
        <div class="modalHead flexCol flexPublic">
            <div style="display: flex; justify-content: flex-end; width: 100%; padding-bottom: 20px;">
                <span class="css-1oteowz eklkj751"><span role="img" color="#e4e5ed" rotate="0"
                                                         class="css-nh621w e181xm9y1"><svg
                        width="24" height="24" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true"
                        focusable="false" style="cursor: pointer"
                        preserveAspectRatio="xMidYMid meet"><path
                        xmlns="http://www.w3.org/2000/svg"
                        d="M6.34314575,4.92893219 L12.000039,10.585039 L17.6568542,4.92893219 C18.0473785,4.5384079 18.6805435,4.5384079 19.0710678,4.92893219 C19.4615921,5.31945648 19.4615921,5.95262146 19.0710678,6.34314575 L13.415039,12.000039 L19.0710678,17.6568542 C19.4615921,18.0473785 19.4615921,18.6805435 19.0710678,19.0710678 C18.6805435,19.4615921 18.0473785,19.4615921 17.6568542,19.0710678 L12.000039,13.415039 L6.34314575,19.0710678 C5.95262146,19.4615921 5.31945648,19.4615921 4.92893219,19.0710678 C4.5384079,18.6805435 4.5384079,18.0473785 4.92893219,17.6568542 L10.585039,12.000039 L4.92893219,6.34314575 C4.5384079,5.95262146 4.5384079,5.31945648 4.92893219,4.92893219 C5.31945648,4.5384079 5.95262146,4.5384079 6.34314575,4.92893219 Z"></path></svg></span></span>
            </div>

            <div style="display:flex; justify-content: space-between; border-bottom: 1px solid rgb(228, 229, 237); padding-bottom: 15px;margin-top: -15px; width: 100%;">
                <div style="font-size: 22px;margin-top: 10px;">
                    여러분의 재능을 나눠주세요.
                </div>
                <div style="display: flex;">
                    <div role="link" color="yellow" href="#" class="css-8x0gm eklkj752" id="writeFinish">
                        <span class="css-1oteowz eklkj751">글작성 완료</span>
                    </div>
                </div>
            </div>
            <div>


                <div style="display:flex; justify-content: space-between; padding-top: 35px;">
                    <div class="abc" style="padding-right: 50px;">
                     <span class="abcd">

                         <!--========================================== 사진 ==========================================-->

                         <th:block th:if="${talentPicture != null}">
                             <img style="border-radius: 10px; width: 203px; height: 204px"
                                  th:src="${'/file/display?fileName='+talentPicture.filePath+'/'+talentPicture.fileUuid+'_'+talentPicture.fileName}">
                        </th:block>
                         <th:block th:unless="${talentPicture != null}">
                              <img src="../imgs/talent/normalProfile.png"
                                   style="border-radius: 10px; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block;">
                         </th:block>

                         <!--========================================== 사진 ==========================================-->

                     </span>


                        <div class="css-pea598 e1y81j3a5">

                        </div>
                        </span>
                    </div>


                    <div>
                        <div class="css-1438eek e1y81j3a6">
                            <div class="css-13mgtqc e1y81j3a9">


                                <div class="margin-bottom-8 flexBetween" style="margin-bottom: 0px;">
                                    <div class="inputTitle">카테고리</div>
                                    <div id="writePlease"
                                         style="display: none; color :rgb(255, 64, 43); margin-top: -15px;">내용을 전부
                                        작성해주세요.
                                    </div>
                                </div>
                                <div class="margin-bottom-8 relative" style="width: 350px;">
                                    <div class="moreSelectWrap" style="z-index: 2;">
                                        <div class="moreSelectItem">교육</div><!--카테고리 값이 들어있는곳-->
                                        <div class="moreSelectItem">운동</div>
                                        <div class="moreSelectItem">음악</div>
                                        <div class="moreSelectItem">미술</div>
                                        <div class="moreSelectItem">IT</div>
                                    </div>
                                    <div class="inputCos flex" style="padding: 0;">
                                        <div class="inputSpace flexRow">
                                            <input type=text name="bank" style="border : none" class="pleasehear1"
                                                   placeholder="카테고리를 선택해주세요"
                                                   disabled>
                                        </div>
                                        <div class="arrowWrap">
                                            <svg height="20" width="20" class="arrowColor">
                                                <path
                                                        d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                                                </path>
                                            </svg>
                                        </div>
                                    </div>
                                </div>

                                <!--=====================================================================-->

                                <div class="margin-bottom-8 flexBetween" style="margin-bottom: 0px;">
                                    <div class="inputTitle">지역</div>
                                </div>
                                <div class="margin-bottom-8 relative" style="width: 350px;">
                                    <div id="moreSelectWrap" style="z-index: 1;">
                                        <div class="place">서울</div><!--지역 값이 들어있는곳-->
                                        <div class="place">경기도</div>
                                        <div class="place">강원도</div>
                                        <div class="place">충청도</div>
                                        <div class="place">전라도</div>
                                        <div class="place">경상도</div>
                                        <div class="place">제주도</div>
                                    </div>
                                    <div id="inputCos" class="inputCos flex" style="padding: 0;">
                                        <div class="inputSpace flexRow">
                                            <input type=text name="talent" id="talent" class="pleasehear2"
                                                   placeholder="지역을 선택해주세요"
                                                   disabled>
                                        </div>
                                        <div class="arrowWrap">
                                            <svg height="20" width="20" class="arrowColor">
                                                <path
                                                        d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                                                </path>
                                            </svg>
                                        </div>
                                    </div>
                                </div>


                                <!--=====================================================================-->

                                <div>
                                    <div class="margin-bottom-8 flexBetween" style="margin-bottom: 6px;">
                                        <div class="inputTitle" id="cateDate">날짜</div>
                                    </div>
                                    <div>
                                        <input type="Date" id="dateTime" class="inputCos"> <!--날짜 값이 들어있는곳-->
                                    </div>
                                </div>

                                <!--=====================================================================-->
                                <div>
                                    <div class="margin-bottom-8 flexBetween"
                                         style="margin-bottom: 6px; padding-top: 4px;">
                                        <div class="inputTitle" id="cateTitle">제목</div>
                                    </div>
                                    <input type="text" class="inputCos" id="kim2"><!--제목 값이 들어있는곳-->
                                </div>
                                <!--======================================================================-->
                                <div>
                                    <div class="margin-bottom-8 flexBetween"
                                         style="margin-bottom: 6px; padding-top: 4px;">
                                        <div class="inputTitle" id="cateContent">내용</div>
                                    </div>
                                    <div class="relative">
                                        <div class="textareaCos" id="talentText" name="content">
                                            <textarea id="kimeuiyeob"></textarea> <!--th:field name과 id를 생성해준다.-->
                                            <!--내용 값이 들어있는곳-->
                                        </div>
                                        <div class="maxContentLength"
                                             style="padding-left: 80%;margin-top: -7%;"><span
                                                class="contentLength">0</span>/300
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>


        </div>
    </div>
</div>

<!--================================================================================================================-->

<!-- 재능 목록 클릭시 상세 모달-->
<div class="talentModal">
</div>

<!--================================================================================================================-->



<footer th:replace="/fix/footer.html :: footer"></footer>
</body>
<!--================================================================================================================-->

<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/fix/header.js"></script>
<script src="/js/talent/talent.js"></script>

<!--================================================================================================================-->

<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>

<!--================================================================================================================-->
<script th:inline="javascript">

    globalThis.page = 0;

    let savecategory = "";

    let pageInfo;

    show();

    let sessionId = $("#sessionId").val();

    window.onload = function () {

        $("#all").css({"display": "flex"})
        $("#pseudo").css({"transform": "translateX(0%)"})

        $(this).css({"color": "rgb(48, 52, 65)", "font-weight": "700"})

        $(".education").css({"font-weight": "normal", "color": "rgb(154, 155, 167)"})
        $(".exercise").css({"font-weight": "normal", "color": "rgb(154, 155, 167)"})
        $(".music").css({"font-weight": "normal", "color": "rgb(154, 155, 167)"})
        $(".art").css({"font-weight": "normal", "color": "rgb(154, 155, 167)"})
        $(".program").css({"font-weight": "normal", "color": "rgb(154, 155, 167)"})

        //맨처음 들어갔을때 세션아이디로 글작성 버튼 생성하거나 지우거나
        if (sessionId === "people") {
            $("#talentButton123").show();
        }
    }

    // 처음 목록 가져오기
    const $checkSeoul = $(".checkSeoul"); //서울
    const $checkKyungki = $(".checkKyungki"); //경기도
    const $checkKangwon = $(".checkKangwon"); //강원도
    const $checkChungcheong = $(".checkChungcheong"); //충청도
    const $checkJeolla = $(".checkJeolla"); //전라도
    const $checkGyeong = $(".checkGyeong"); //경상도
    const $checkJeju = $(".checkJeju"); //제주도

    const $wholePlace = $(".dropbtn"); //전체

    $checkSeoul.on('click', function () { // 작은지역들 클릭시 search()실행
        globalThis.page = 0;
        search()
    })
    $checkKyungki.on('click', function () { // 작은지역들 클릭시 search()실행
        globalThis.page = 0;
        search()
    })
    $checkKangwon.on('click', function () { // 작은지역들 클릭시 search()실행
        globalThis.page = 0;
        search()
    })
    $checkChungcheong.on('click', function () { //  작은지역들 클릭시 search()실행
        globalThis.page = 0;
        search()
    })
    $checkJeolla.on('click', function () { //  작은지역들 클릭시 search()실행
        globalThis.page = 0;
        search()
    })
    $checkGyeong.on('click', function () { //  작은지역들 클릭시 search()실행
        globalThis.page = 0;
        search()
    })
    $checkJeju.on('click', function () { //  작은지역들 클릭시 search()실행
        globalThis.page = 0;
        search()
    })
    $wholePlace.on('click', function () { // 전체 클릭시 search()실행
        globalThis.page = 0;
        search()
    })


    /*검색창 엔터*/
    $talentName.on('keyup', function (e) {
        if (e.keyCode == 13) {
            $('input[name = talentName]').val($talentName.val());
            console.log($('input[name = talentName]').val($talentName.val()));
            globalThis.page = 0;
            search()
        }
    })

    /*검색창 클릭*/
    $talentClick.on('click', function (e) {
        $('input[name = talentName]').val($talentName.val());
        console.log($('input[name = talentName]').val($talentName.val()));
        globalThis.page = 0;
        search()
    })

    /*===========================================================================================*/
    /*처음 들어갈때 전체 페이지*/

    function getList(talentResp) {
        let text = "";
        pageInfo = talentResp.arTalentDTO;
        //탤런트 임플에 조건에 맞는 모든 값들을 가져와 talent로 반복 돌린다.
        talentResp.arTalentDTO.content.forEach(talent => {

            text += `<div style="padding-bottom:20px">`
            text += `<article class="talentBox">`
            text += `<div class="talentBox2">`
            text += `<div class="talentBox3">`

            /*=========================================================================================================*/
            if (talent.fileName == null) {
                //텍스트 추가 이미지src 에다 talent로 가져온 filePath + fileUUid _ fileName으로 이미지를 찾아온다.
                text += `<img id="profilepicture" src="/imgs/myPage/normalProfile.png" class="talentImg">`
            } else {
                text += `<img class="talentImg" src="/file/display?fileName=` + talent.filePath + `/` + talent.fileUuid + `_` + talent.fileName + `">`
            }
            /*=========================================================================================================*/

            text += `</div>`
            text += `<div class="talentBox4">`

            text += `<div class="donationId" style="display: none">` + talent.donationId + `</div>`

            text += `<p class="talentTitle">` + talent.talentTitle + `</p>`
            text += `<p class="talentContent" style="overflow: hidden; height: 43px">` + talent.talentContent + `</p>`
            text += `<div class="talentboxs">`
            text += `<div class="talentType">`
            text += `<img src="/imgs/talent/care2.png" style="width: 25px; height: 25px; margin-bottom: -6px; margin-left: -10px;">` + talent.talentCategory
            text += `</div>`
            text += `<div class="talentPlace">`
            text += `<img src="/imgs/talent/pin.png" style="width: 25px; height: 25px; margin-bottom: -6px; margin-left: -10px;">` + talent.talentPlace
            text += `</div>`

            let date = new Date(talent.talentAbleDate);
            let year = date.getFullYear().toString().substr(2);
            let month = date.getMonth() + 1;
            let day = date.getDate();

            text += `<div class="talentTime">`
            text += `<img src="/imgs/talent/mylove.png" style="width: 25px; height: 25px; margin-bottom: -7px; margin-left: -15px;">` + year + '년 ' + ("00" + month.toString()).slice(-2) + "월 " + ("00" + day.toString()).slice(-2) + "일"
            text += `</div>`
            text += `</div>`
            text += `</div>`
            text += `</div>`
            text += `</article>`
            text += `</div>`

        })
        $(".talentBoxAll").html(text)
        pageingBtn();
    }

    /*===========================================================================================*/
    /*각 카테고리 클릭시*/

    $("#showAll").on("click", function () {

        $("#all").css({"display": "flex"})
        $("#pseudo").css({"transform": "translateX(0%)"})

        $(this).css({"color": "rgb(48, 52, 65)", "font-weight": "700"})

        $(".education").css({"font-weight": "normal", "color": "rgb(154, 155, 167)"})
        $(".exercise").css({"font-weight": "normal", "color": "rgb(154, 155, 167)"})
        $(".music").css({"font-weight": "normal", "color": "rgb(154, 155, 167)"})
        $(".art").css({"font-weight": "normal", "color": "rgb(154, 155, 167)"})
        $(".program").css({"font-weight": "normal", "color": "rgb(154, 155, 167)"})

        savecategory = $(this).find(".cateAll").text();
        globalThis.page = 0;
        show();
    })

    $("#education").on("click", function () {

        $("#education").css({"display": "flex"})
        $("#pseudo").css({"transform": "translateX(100%)"})

        $(this).css({"color": "rgb(48, 52, 65)", "font-weight": "700"})

        $(".all").css({"font-weight": "normal", "color": "rgb(154, 155, 167)"})
        $(".exercise").css({"font-weight": "normal", "color": "rgb(154, 155, 167)"})
        $(".music").css({"font-weight": "normal", "color": "rgb(154, 155, 167)"})
        $(".art").css({"font-weight": "normal", "color": "rgb(154, 155, 167)"})
        $(".program").css({"font-weight": "normal", "color": "rgb(154, 155, 167)"})

        savecategory = $(this).find(".cateEdu").text();
        globalThis.page = 0;
        show();
    })
    $("#exercise").on("click", function () {

        $("#exercise").css({"display": "flex"})
        $("#pseudo").css({"transform": "translateX(200%)"})

        $(this).css({"color": "rgb(48, 52, 65)", "font-weight": "700"})

        $(".all").css({"font-weight": "normal", "color": "rgb(154, 155, 167)"})
        $(".education").css({"font-weight": "normal", "color": "rgb(154, 155, 167)"})
        $(".music").css({"font-weight": "normal", "color": "rgb(154, 155, 167)"})
        $(".art").css({"font-weight": "normal", "color": "rgb(154, 155, 167)"})
        $(".program").css({"font-weight": "normal", "color": "rgb(154, 155, 167)"})

        savecategory = $(this).find(".cateExe").text();
        globalThis.page = 0;
        show();
    })
    $("#music").on("click", function () {

        $("#music").css({"display": "flex"})
        $("#pseudo").css({"transform": "translateX(300%)"})

        $(this).css({"color": "rgb(48, 52, 65)", "font-weight": "700"})

        $(".all").css({"font-weight": "normal", "color": "rgb(154, 155, 167)"})
        $(".education").css({"font-weight": "normal", "color": "rgb(154, 155, 167)"})
        $(".exercise").css({"font-weight": "normal", "color": "rgb(154, 155, 167)"})
        $(".art").css({"font-weight": "normal", "color": "rgb(154, 155, 167)"})
        $(".program").css({"font-weight": "normal", "color": "rgb(154, 155, 167)"})

        savecategory = $(this).find(".cateMus").text();
        globalThis.page = 0;
        show();
    })
    $("#art").on("click", function () {

        $("#art").css({"display": "flex"})
        $("#pseudo").css({"transform": "translateX(400%)"})

        $(this).css({"color": "rgb(48, 52, 65)", "font-weight": "700"})

        $(".all").css({"font-weight": "normal"})
        $(".all").css({"color": "rgb(154, 155, 167)"})

        $(".all").css({"font-weight": "normal", "color": "rgb(154, 155, 167)"})
        $(".education").css({"font-weight": "normal", "color": "rgb(154, 155, 167)"})
        $(".exercise").css({"font-weight": "normal", "color": "rgb(154, 155, 167)"})
        $(".music").css({"font-weight": "normal", "color": "rgb(154, 155, 167)"})
        $(".program").css({"font-weight": "normal", "color": "rgb(154, 155, 167)"})

        savecategory = $(this).find(".cateArt").text();
        globalThis.page = 0;
        show();
    })

    $("#program").on("click", function () {

        $("#program").css({"display": "flex"})
        $("#pseudo").css({"transform": "translateX(500%)"})

        $(this).css({"color": "rgb(48, 52, 65)", "font-weight": "700"})

        $(".all").css({"font-weight": "normal", "color": "rgb(154, 155, 167)"})
        $(".education").css({"font-weight": "normal", "color": "rgb(154, 155, 167)"})
        $(".exercise").css({"font-weight": "normal", "color": "rgb(154, 155, 167)"})
        $(".music").css({"font-weight": "normal", "color": "rgb(154, 155, 167)"})
        $(".art").css({"font-weight": "normal", "color": "rgb(154, 155, 167)"})

        savecategory = $(this).find(".cateIt").text();
        globalThis.page = 0;
        show();
    })

    /*===========================================================================================*/
    /*지역 및 제목 검색시*/

    function search() {
        getTalentList({
            talentCategory: savecategory,
            talentPlace: saveLocal,
            talentTitle: $('input[name = "talentName"]').val(),
            page: globalThis.page
        }, getList);
    }

    /*===========================================================================================*/
    /*전체 클릭시*/

    function show() {
        getTalentList({
            talentCategory: savecategory,
            talentPlace: saveLocal,
            talentTitle: $('input[name = "talentName"]').val(),
            page: globalThis.page
        }, getList)
    }

    /*===========================================================================================*/
    /*페이징 버튼 처리 전체*/

    let $pagingBtnFlex = $('.paging-number-flex');

    function pageingBtn() {
        let text = "";
        let nowPage = pageInfo.pageable.pageNumber + 1;
        let endPage = Math.ceil(nowPage / 5) * 5;
        let startPage = endPage - 5 + 1;
        // <!--페이징 처리-->
        // 이전
        if (startPage > 1) {
            text += `<div class="prev-page page-number-padding">`
            text += `<a class="page-number-link" href="` + (startPage - 2) + `">`
            text += `<div class="prev-page-prevArrow"></div>`
            text += `</a>`
            text += `</div>`
        } else {
            text += `<div class="prev-page page-number-padding">`
            text += `</div>`
        }
        // 페이지 버튼
        for (let i = startPage; i < startPage + 5 && i <= pageInfo.totalPages; i++) {
            text += `<div class="page-number-padding">`
            if (i == nowPage) {
                text += `<div class="page-number-link" style="color:#303441">` + i + `</div>`
            } else {
                text += `<a class="page-number-link" href="` + (i - 1) + `">` + i + `</a>`
            }
            text += `</div>`
        }
        //이후
        if (4 < endPage && endPage < pageInfo.totalPages) {
            text += `<div class="next-page page-number-padding">`
            text += `<a class="page-number-link" href="` + (endPage) + `">`
            text += `<div class="prev-page-nextArrow"></div>`
            text += `</a>`
            text += `</div>`
            text += `</div>`
            text += `</div>`
        }
        $pagingBtnFlex.html(text);
    }

    $pagingBtnFlex.on('click', ".page-number-link", function (e) {
        e.preventDefault();
        window.scrollTo({top: 0})
        globalThis.page = $(this).attr("href");
        search();
    })

    /*  페이지 이동  */
    const $pageNumberLink = $('.page-number-link');

    $pagingBtnFlex.on('mouseover', "a.page-number-link", function () {
        $(this).css('background-color', '#f4f6fa');
    })

    $pagingBtnFlex.on('mouseout', "a.page-number-link", function () {
        $(this).css('background-color', '#fff');
        $(this).css('color', '#9a9ba7');
    })

    window.onresize = function () {
        document.location.reload();
    };

    /*===========================================================================================*/

</script>

</html>