<!--황지수-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>ranking</title>
</head>

<!-- ===================================================================================================== -->

<link href="/css/ranking/ranking.css" rel="stylesheet"/>
<link rel="icon" href="/imgs/fix/favicon.png">

<link rel="stylesheet" href="/css/fix/header.css">
<link rel="stylesheet" href="/css/fix/footer.css">

<!-- ===================================================================================================== -->

<body class="">

<header th:replace="/fix/header.html :: header"></header>

<!-- ===================================================================================================== -->

<div class="css-1sz5ii e6hl9jl1" style="padding-top:70px">

    <div data-aos="fade-right">
        <h1 style="font-size: 32px; margin-bottom: -5px; cursor: default;">TOP개인회원랭킹</h1>
        <h2 class="" style="margin-bottom:-5px; color: rgb(97 98 101); padding-bottom: 15px; cursor: default;">
            Milestone에 가장 많이 기부한 개인 랭킹
            입니다.</h2>
    </div>

    <div class="css-x4imis enwv23o0" style="padding-bottom: 150px">

        <!-- ======================기부금 랭킹================================== -->
        <div class="fade-in-box">
            <div class="bigbig">
                <div class="css-1j8r2w0 ezpuish0">
                    <div class="css-7hg5zz ezpuish3">기부금 랭킹</div>
                    <th:block th:object="${moneys.get(i)}" th:each="i:${#numbers.sequence(0,4)}">
                        <div class="css-udcuwn ezpuish2" th:if="${i == 0}">
                            <article class="css-1sbi2sv eegfgsa0">
                                <span style="box-sizing: border-box; display: inline-block; overflow: hidden; width: 40px; height: 40px; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">
                                    <img src="/imgs/ranking/gold.png" style="position: absolute; width: 32px;">
                            </span>
                                <div class="css-1okqk0z eegfgsa1">
                                    <!--총기부금액-->
                                    <span class="css-r4d2us eegfgsa2"
                                          th:text="*{#numbers.formatInteger(rankingItem, 1, 'COMMA') + '원'}"></span>
                                    <div class="css-65gs3l eegfgsa3">
                                        <!--닉네임-->
                                        <span class="css-1raaqrb eegfgsa4" th:text="*{peopleNickname}"></span>
                                    </div>
                                </div>
                                <div href="" class="css-65gs3l eegfgsa3">
                                    <div size="48" shape="0" role="article" class="css-1jm5h8a e1cdqjir2">
                                        <!--해당회원 프로필사진-->
                                        <img th:if="*{file == null}" src="/imgs/ranking/normalProfile.png" class="css-on9gcz e1cdqjir1">
                                        <img th:if="*{file != null}" th:src="'/file/display?fileName='+ *{file.filePath} + '/' + *{file.fileUuid} + '_' + *{file.fileName}" class="css-on9gcz e1cdqjir1">
                                    </div>
                                </div>
                            </article>
                        </div>
                    </th:block>
                    <div class="css-x4rf3n ezpuish1">
                        <th:block th:object="${moneys.get(i)}" th:each="i:${#numbers.sequence(1,4)}">
                            <article class="css-1sbi2sv eegfgsa0" th:if="${i != 0}">
                                <span style="box-sizing: border-box; display: inline-block; overflow: hidden; width: 40px; height: 40px; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">
                                    <img src="/imgs/ranking/silver.png" style="position: absolute; width: 32px;"
                                         th:if="${i == 1}">
                                    <img src="/imgs/ranking/bronze.png" style="position: absolute; width: 32px;"
                                         th:if="${i == 2}">
                                    <img src="/imgs/ranking/number4.png" style="position: absolute; width: 32px;"
                                         th:if="${i == 3}">
                                    <img src="/imgs/ranking/number5.png" style="position: absolute; width: 32px;"
                                         th:if="${i == 4}">
                                </span>
                                <div class="css-1okqk0z eegfgsa1">
                                    <span class="css-1w82quq eegfgsa2"
                                          th:text="*{#numbers.formatInteger(rankingItem, 1, 'COMMA') + '원'}"></span>
                                    <!--총기부금액-->
                                    <div href="" class="css-65gs3l eegfgsa3">
                                        <span class="css-1raaqrb eegfgsa4" th:text="*{peopleNickname}"></span>
                                        <!--닉네임-->
                                    </div>
                                </div>
                                <div href="" class="css-65gs3l eegfgsa3">
                                    <div size="48" shape="0" role="article" class="css-1jm5h8a e1cdqjir2">
                                        <!--해당회원 프로필사진-->
                                        <img th:if="*{file == null}" src="/imgs/ranking/normalProfile.png" class="css-on9gcz e1cdqjir1">
                                        <img th:if="*{file != null}" th:src="'/file/display?fileName='+ *{file.filePath} + '/' + *{file.fileUuid} + '_' + *{file.fileName}" class="css-on9gcz e1cdqjir1">
                                    </div>
                                </div>
                            </article>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
        <!-- ======================방문기부 랭킹================================== -->
        <div class="fade-in-box">
            <div class="bigbig">
                <div class="css-1j8r2w0 ezpuish0">
                    <div class="css-7hg5zz ezpuish3">방문횟수 랭킹</div>
                    <th:block th:object="${services.get(i)}" th:each="i:${#numbers.sequence(0,4)}">
                        <div class="css-udcuwn ezpuish2" th:if="${i == 0}">
                            <article class="css-1sbi2sv eegfgsa0">
                                <span style="box-sizing: border-box; display: inline-block; overflow: hidden; width: 40px; height: 40px; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">
                                    <img src="/imgs/ranking/gold.png" style="position: absolute; width: 32px;">
                            </span>
                                <div class="css-1okqk0z eegfgsa1">
                                    <!--방문횟수-->
                                    <span class="css-r4d2us eegfgsa2"
                                          th:text="*{#numbers.formatInteger(rankingItem, 1, 'COMMA') + '회'}"></span>
                                    <div class="css-65gs3l eegfgsa3">
                                        <!--닉네임-->
                                        <span class="css-1raaqrb eegfgsa4" th:text="*{peopleNickname}"></span>
                                    </div>
                                </div>
                                <div href="" class="css-65gs3l eegfgsa3">
                                    <div size="48" shape="0" role="article" class="css-1jm5h8a e1cdqjir2">
                                        <!--해당회원 프로필사진-->
                                        <img th:if="*{file == null}" src="/imgs/ranking/normalProfile.png" class="css-on9gcz e1cdqjir1">
                                        <img th:if="*{file != null}" th:src="'/file/display?fileName='+ *{file.filePath} + '/' + *{file.fileUuid} + '_' + *{file.fileName}" class="css-on9gcz e1cdqjir1">
                                    </div>
                                </div>
                            </article>
                        </div>
                    </th:block>
                    <div class="css-x4rf3n ezpuish1">
                        <th:block th:object="${services.get(i)}" th:each="i:${#numbers.sequence(1,4)}">
                            <article class="css-1sbi2sv eegfgsa0" th:if="${i != 0}">
                                <span style="box-sizing: border-box; display: inline-block; overflow: hidden; width: 40px; height: 40px; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">
                                    <img src="/imgs/ranking/silver.png" style="position: absolute; width: 32px;"
                                         th:if="${i == 1}">
                                    <img src="/imgs/ranking/bronze.png" style="position: absolute; width: 32px;"
                                         th:if="${i == 2}">
                                    <img src="/imgs/ranking/number4.png" style="position: absolute; width: 32px;"
                                         th:if="${i == 3}">
                                    <img src="/imgs/ranking/number5.png" style="position: absolute; width: 32px;"
                                         th:if="${i == 4}">
                                </span>
                                <div class="css-1okqk0z eegfgsa1">
                                    <span class="css-1w82quq eegfgsa2"
                                          th:text="*{#numbers.formatInteger(rankingItem, 1, 'COMMA') + '회'}"></span>
                                    <!--방문횟수-->
                                    <div href="" class="css-65gs3l eegfgsa3">
                                        <span class="css-1raaqrb eegfgsa4" th:text="*{peopleNickname}"></span>
                                        <!--닉네임-->
                                    </div>
                                </div>
                                <div href="" class="css-65gs3l eegfgsa3">
                                    <div size="48" shape="0" role="article" class="css-1jm5h8a e1cdqjir2">
                                        <!--해당회원 프로필사진-->
                                        <img th:if="*{file == null}" src="/imgs/ranking/normalProfile.png" class="css-on9gcz e1cdqjir1">
                                        <img th:if="*{file != null}" th:src="'/file/display?fileName='+ *{file.filePath} + '/' + *{file.fileUuid} + '_' + *{file.fileName}" class="css-on9gcz e1cdqjir1">
                                    </div>
                                </div>
                            </article>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
        <!-- ======================재능기부 랭킹================================== -->
        <div class="fade-in-box">
            <div class="bigbig">
                <div class="css-1j8r2w0 ezpuish0">
                    <div class="css-7hg5zz ezpuish3">재능기부 횟수 랭킹</div>
                    <th:block th:object="${talents.get(i)}" th:each="i:${#numbers.sequence(0,4)}">
                        <div class="css-udcuwn ezpuish2" th:if="${i == 0}">
                            <article class="css-1sbi2sv eegfgsa0">
                                <span style="box-sizing: border-box; display: inline-block; overflow: hidden; width: 40px; height: 40px; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">
                                    <img src="/imgs/ranking/gold.png" style="position: absolute; width: 32px;">
                            </span>
                                <div class="css-1okqk0z eegfgsa1">
                                    <!--재능기부 횟수-->
                                    <span class="css-r4d2us eegfgsa2"
                                          th:text="*{#numbers.formatInteger(rankingItem, 1, 'COMMA') + '회'}"></span>
                                    <div class="css-65gs3l eegfgsa3">
                                        <!--닉네임-->
                                        <span class="css-1raaqrb eegfgsa4" th:text="*{peopleNickname}"></span>
                                    </div>
                                </div>
                                <div href="" class="css-65gs3l eegfgsa3">
                                    <div size="48" shape="0" role="article" class="css-1jm5h8a e1cdqjir2">
                                        <!--해당회원 프로필사진-->
                                        <img th:if="*{file == null}" src="/imgs/ranking/normalProfile.png" class="css-on9gcz e1cdqjir1">
                                        <img th:if="*{file != null}" th:src="'/file/display?fileName='+ *{file.filePath} + '/' + *{file.fileUuid} + '_' + *{file.fileName}" class="css-on9gcz e1cdqjir1">
                                    </div>
                                </div>
                            </article>
                        </div>
                    </th:block>
                    <div class="css-x4rf3n ezpuish1">
                        <th:block th:object="${talents.get(i)}" th:each="i:${#numbers.sequence(1,4)}">
                            <article class="css-1sbi2sv eegfgsa0" th:if="${i != 0}">
                                <span style="box-sizing: border-box; display: inline-block; overflow: hidden; width: 40px; height: 40px; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;">
                                    <img src="/imgs/ranking/silver.png" style="position: absolute; width: 32px;"
                                         th:if="${i == 1}">
                                    <img src="/imgs/ranking/bronze.png" style="position: absolute; width: 32px;"
                                         th:if="${i == 2}">
                                    <img src="/imgs/ranking/number4.png" style="position: absolute; width: 32px;"
                                         th:if="${i == 3}">
                                    <img src="/imgs/ranking/number5.png" style="position: absolute; width: 32px;"
                                         th:if="${i == 4}">
                                </span>
                                <div class="css-1okqk0z eegfgsa1">
                                    <span class="css-1w82quq eegfgsa2"
                                          th:text="*{#numbers.formatInteger(rankingItem, 1, 'COMMA') + '회'}"></span>
                                    <!--재능기부 횟수-->
                                    <div href="" class="css-65gs3l eegfgsa3">
                                        <span class="css-1raaqrb eegfgsa4" th:text="*{peopleNickname}"></span>
                                        <!--닉네임-->
                                    </div>
                                </div>
                                <div href="" class="css-65gs3l eegfgsa3">
                                    <div size="48" shape="0" role="article" class="css-1jm5h8a e1cdqjir2">
                                        <!--해당회원 프로필사진-->
                                        <img th:if="*{file == null}" src="/imgs/ranking/normalProfile.png" class="css-on9gcz e1cdqjir1">
                                        <img th:if="*{file != null}" th:src="'/file/display?fileName='+ *{file.filePath} + '/' + *{file.fileUuid} + '_' + *{file.fileName}" class="css-on9gcz e1cdqjir1">
                                    </div>
                                </div>
                            </article>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- =================================================================================================== -->

</div>
</div>
<div style="display:flex;justify-content: center;">
    <div>
        <img src="/imgs/ranking/childrenn.png" style="margin-top: -50px;
            width: 1000px;">
    </div>
</div>

<!-- =========================================================================================================== -->

<footer th:replace="/fix/footer.html :: footer"></footer>

</body>
<!-- =========================================================================================================== -->

<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<!-- ==================================================================================== -->
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script th:inline="javascript"> /*타임리프 JS*/

</script>
<script src="/js/fix/header.js"></script>